@import url(./loading.css);
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.body__wrapper {
  opacity: 0;
  display: none;
}

.body--loaded {
  height: 100%;
}

.body--loaded .body__wrapper {
  display: block;
  -webkit-animation: first-load 1s 0.5s forwards;
          animation: first-load 1s 0.5s forwards;
}

body.theme--dark {
  background-image: linear-gradient(141deg, #0c0c14 0%, #0f0f1a 51%, #0c0c14 75%);
}

ul {
  list-style: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.container {
  width: 100%;
  max-width: 200rem;
  margin: auto;
  padding: 5rem 1.5rem;
}

.background--light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.section__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--light-color);
}

.section__title {
  color: var(--theme-main-color);
  font-size: clamp(0.8rem, 10vw, 3rem);
}

.section__explore-btn {
  position: relative;
  padding: 1rem 0.1rem;
  margin-right: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--theme-main-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section__explore-btn:hover {
  opacity: 0.8;
}

.section__explore-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#d560ff), color-stop(20%, #a958ff), to(#4846ff));
  background-image: linear-gradient(-90deg, #d560ff 0%, #a958ff 20%, #4846ff 100%);
  background-size: 150%;
  background-position: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section__explore-btn:hover::after {
  background-position: right;
}

.article__likes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  border-radius: 1rem;
  color: var(--theme-main-color);
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
  font-weight: 600;
  cursor: pointer;
}

.theme--dark .article__likes {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.like__btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 4rem;
  width: 4rem;
  background-image: url("../../Assets/Images/03_Live Auctions/heart-animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.article--liked .like__btn {
  -webkit-animation: heart-burst 0.8s steps(28) 1 forwards;
          animation: heart-burst 0.8s steps(28) 1 forwards;
}

.scroll__btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 2rem;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: #3930a3bb;
  color: var(--light-color);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.theme--dark .scroll__btn {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.scroll__btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scroll__btn--active {
  opacity: 0.9;
  visibility: visible;
}

.scroll__btn--active:hover {
  opacity: 1;
}

@-webkit-keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--theme-main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

@-webkit-keyframes first-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes first-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 400px) {
  .section__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__explore-btn {
    margin-right: unset;
    margin-left: auto;
  }
}

@media screen and (min-width: 688px) {
  .container {
    padding: 5rem 2rem;
  }
  .scroll__btn {
    bottom: 2rem;
    right: 2rem;
    padding: 2.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1312px) {
  .container {
    padding: 5rem;
  }
}

html {
  font-size: 62.5%;
  font-family: "Urbanist", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: var(--theme-main-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1rem, 5vw, 5rem);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  -webkit-box-shadow: 0 0.1rem 0.1rem 0.01rem rgba(138, 138, 138, 0.13);
          box-shadow: 0 0.1rem 0.1rem 0.01rem rgba(138, 138, 138, 0.13);
  z-index: 1000;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.header__wrapper .title__img {
  width: clamp(4rem, 20vw, 14rem);
}

.header__wrapper .header__menu-btn {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .header__wrapper .header__menu-btn {
    display: none;
  }
}

.header__wrapper .login {
  margin-left: auto;
}

.header__wrapper .login__btn {
  font-size: 105%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__wrapper .login__btn:hover {
  color: #3930a3;
}

@media screen and (min-width: 1400px) {
  .header__wrapper {
    top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn {
  padding: 1rem 1.5rem;
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  color: inherit;
}

.btn--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem var(--primary-color);
          box-shadow: inset 0 0 0 0.3rem var(--primary-color);
  color: inherit;
  text-align: center;
  cursor: pointer;
}

.btn--primary:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.section__explore-btn {
  position: relative;
  padding: 1rem 0.1rem;
  margin-right: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--theme-main-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section__explore-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#d560ff), color-stop(20%, #a958ff), to(#4846ff));
  background-image: linear-gradient(-90deg, #d560ff 0%, #a958ff 20%, #4846ff 100%);
  background-size: 150%;
  background-position: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section__explore-btn:hover {
  opacity: 0.8;
}

.section__explore-btn:hover::after {
  background-position: right;
}
/*# sourceMappingURL=main.css.map */