#footer {
  background-color: black;
}

.footer__wrapper {
  width: Min(100%, 50rem);
  display: grid;
  grid-template-columns: 100%;
  gap: 2.5rem;
  padding: 3rem 1rem 6rem 1rem;
  color: $light-color;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.footer__logo {
  width: Min(100%, 12rem);
}

.footer__description {
  opacity: 0.9;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__link {
  width: max-content;
  position: relative;
  display: inline-block;
  color: $light-color;
  opacity: 0.9;
}

.footer__link::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  border-bottom: solid 0.1rem $light-color;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.footer__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.footer__form {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 0.05rem #ffffff80;
  border-radius: 1.1rem;
  -moz-border-radius: 1.1rem;
  overflow: hidden;
}

.footer__input {
  width: 100%;
  padding: 1.5rem 1rem;
  border: none;
  font-size: inherit;
  background-color: transparent;
  color: $light-color;
}

.footer__input:focus {
  outline: none;
}

.footer__submit-btn {
  position: relative;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border: none;
  background-color: $primary-color;
  color: $light-color;
  font-size: inherit;
}

.footer__submit-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__socials {
  width: max-content;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: Repeat(2, minmax(2rem, 1fr));
  place-items: center;
  align-self: center;
  gap: 1rem;
}

.footer__social-btn {
  display: grid;
  place-items: center;
  font-size: clamp(1rem, 5vw, 1.8rem);
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer__social-btn:hover {
  transform: scale(1.1);
}

/* --------------------- Media Queries ----------------- */

@media screen and (min-width: 150px) {
  .footer__socials {
    grid-template-columns: Repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 250px) {
  .footer__form {
    flex-direction: row;
    align-items: stretch;
  }

  .footer__submit-btn {
    margin-left: auto;
    padding: 1.5rem 2.5rem;
  }

  .footer__socials {
    grid-template-columns: Repeat(6, minmax(0, 1fr));
    gap: 0;
  }
}

@media screen and (min-width: 300px) {
  .footer__wrapper {
    grid-template-columns: Repeat(2, minmax(0, 1fr));
  }

  .footer__item:first-child {
    grid-area: 1/ 1/ 2/ 3;
    align-items: center;
  }

  .footer__item:last-child {
    grid-area: 4/ 1/ 5/ 3;
    width: Min(100%, 50rem);
    justify-self: center;
  }

  .footer__socials {
    width: Min(100%, 50rem);
  }

  .footer__submit-btn {
    margin-left: auto;
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (min-width: 688px) {
  .footer__wrapper {
    width: 100%;
    padding: 5rem 2rem;
    grid-template-columns: Repeat(3, minmax(0, 1fr));
    justify-items: center;
    gap: 4rem 2rem;
  }

  .footer__item:first-child {
    grid-area: 1/ 1/ 2/ 4;
    align-items: flex-start;
  }

  .footer__item:last-child {
    grid-area: 3/ 1/ 4/ 4;
    justify-self: center;
  }
}

@media screen and (min-width: 992px) {
  .footer__wrapper {
    grid-template-columns: Repeat(4, minmax(0, 1fr));
    place-items: center;
    gap: 4rem 2rem;
  }

  .footer__item {
    gap: 2rem;
  }

  .footer__item:first-child {
    grid-area: unset;
  }

  .footer__item:last-child {
    grid-area: 2/ 1/ 3/ 5;
  }

  .footer__links {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1312px) {
  #footer {
    width: fit-content;
    margin: auto;
  }

  .footer__wrapper {
    grid-template-columns: Repeat(5, minmax(0, 1fr));
    place-items: center;
  }

  .footer__item:last-child {
    grid-area: unset;
    gap: 1rem;
  }
}
