.auctions__wrapper {
  margin-top: 15rem;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #f3f2ff;
  overflow-x: clip;
}

.theme--dark .auctions__wrapper {
  background-color: black;
}

.auctions__pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.auctions__page {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  gap: min(0.1%, 3rem);
  margin-right: calc(-1 * min(0.1%, 3rem));
  align-self: flex-start;
  transform: translateX(var(--transformX));
  transition: all 0.5s ease-in-out;
}

.auctions__card {
  height: 100%;
  width: min(100%, 50rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1.5rem;
  border-radius: 1.8rem;
  background-color: var(--light-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s ease-in-out;
}

.theme--dark .auctions__card {
  background-color: var(--dark-color);
  color: rgba(255, 255, 255, 0.85);
}

.card__img-container {
  position: relative;
  width: 100%;
  border-radius: 1.8rem;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.card__time {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 0.8rem;
  background-color: var(--theme-secondary-color);
  transform: translateX(-50%);
}

.card__time--icon {
  font-size: 110%;
  color: var(--primary-color);
}

.card__bid-btn {
  position: absolute;
  top: 120%;
  left: 50%;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-weight: 600;
  white-space: nowrap;
  border-radius: 3rem;
  cursor: pointer;
  opacity: 0;
  box-shadow: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.card__bid-btn:hover {
  opacity: 0.9;
}

.card__bid-btn i {
  color: var(--primary-color);
}

.auctions__card:hover .card__img {
  transform: scale(1.05);
}

.auctions__card:hover .card__bid-btn {
  top: 50%;
  opacity: 1;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-shadow: 0 0.2rem 0 -0.1rem rgba(0, 0, 0, 0.644);
}

.card__title {
  width: 90%;
  text-transform: capitalize;
}

.card__title a {
  color: var(--theme-main-color);
}

.card__creator {
  margin-top: auto;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.creator__img {
  height: clamp(4rem, 10vw, 5rem);
  border-radius: 1.8rem;
}

.creator__info {
  margin-right: auto;
}

.creatot__label {
  margin-top: auto;
  opacity: 0.8;
}

.creator__name {
  margin-bottom: auto;
  color: var(--theme-main-color);
  font-weight: 700;
}

.creator__bsc {
  padding: 0.5rem 1.1rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-weight: 600;
  font-size: 80%;
  text-align: center;
  border-radius: 1rem;
}

.card__current-bid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card__bid-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__bid-label,
.card__bid-number {
  opacity: 0.8;
}

.card__bid-number span {
  font-weight: 700;
  font-size: 120%;
  color: var(--theme-main-color);
}

.pagination__btns {
  display: flex;
  align-self: center;
  gap: 1.5rem;
  margin-top: auto;
}

.pagination__btn {
  color: var(--theme-main-color);
  background-color: transparent;
  border: none;
  font-size: 110%;
  transition: all 0.3s ease-in-out;
}

.pagination__btn:hover {
  opacity: 0.8;
}

.page-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination__page {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--theme-main-color);
  border-radius: 50%;
  cursor: pointer;
}

.page-select__input {
  width: 4rem;
  height: 4rem;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 0.05rem var(--theme-main-color);
  color: var(--theme-main-color);
  font-weight: 600;
  border-radius: 1rem;
}

.pagination__page--active {
  box-shadow: 0 0 0 0.3rem var(--theme-secondary-color),
    0 0 0 0.4rem var(--theme-main-color);
}

/* --------------------- Media Queries ----------------- */

@media screen and (min-width: 300px) {
  .card__bid-btn {
    padding: 1.5rem 2.5rem;
  }

  .card__time {
    padding: 0.8rem 1.8rem;
    border-radius: 1.3rem;
  }

  .card__creator {
    grid-template-columns: auto 1fr auto;
  }
}

@media screen and (min-width: 768px) {
  .auctions__wrapper {
    margin-top: 15rem;
    padding: 5rem 2rem;
  }

  .pagination__btns {
    gap: 2rem;
  }

  .page-select__btns {
    display: flex;
    gap: 2rem;
    align-items: center;
    gap: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .auctions__card {
    grid-row: 1;
  }

  .auctions__card:hover {
    transform: translateY(-1%);
  }
}

@media screen and (min-width: 1312px) {
  .auctions__wrapper {
    padding: 10rem 2rem;
  }
}
