@import url(./menu_left.css);
@import url(./menu_right.css);

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1rem, 5vw, 5rem);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  box-shadow: 0 0.1rem 0.1rem 0.01rem rgba(138, 138, 138, 0.13);
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.header__wrapper--scrolled {
  background-color: var(--theme-secondary-color);
}

.title__img {
  width: clamp(4rem, 20vw, 14rem);
}

.header__menu-btn {
  cursor: pointer;
}

.login {
  margin-left: auto;
}

.login__btn {
  font-size: 105%;
  color: var(--theme-main-color);
  transition: all 0.3s ease-in-out;
}

.login__btn:hover {
  color: var(--primary-color);
}

/* --------------------- Media Queries ----------------- */

@media screen and (min-width: 1400px) {
  .header__wrapper {
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .header__menu-btn {
    display: none;
  }
}
