*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: $dark-color;
}

.body__wrapper {
  opacity: 0;
  display: none;
}

.body--loaded {
  height: 100%;
}

.body--loaded .body__wrapper {
  display: block;
  animation: first-load 1s 0.5s forwards;
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container {
  width: 100%;
  max-width: 200rem;
  margin: auto;
  padding: 5rem 1.5rem;
}

.background--light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%);
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
}

.section__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $light-color;
}

.section__title {
  font-size: clamp(0.8rem, 10vw, 3rem);
}

.article__likes {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
  font-weight: 600;
  cursor: pointer;
}

.like__btn {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 4rem;
  background-image: url("../../Assets/Images/03_Live_Auctions/heart-animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.article--liked .like__btn {
  animation: heart-burst 0.8s steps(28) 1 forwards;
}

.scroll__btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 2rem;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.scroll__btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll__btn--active {
  opacity: 0.9;
  visibility: visible;
}

.scroll__btn--active:hover {
  opacity: 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes first-load {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 400px) {
  .section__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 688px) {
  .container {
    padding: 5rem 2rem;
  }

  .scroll__btn {
    bottom: 2rem;
    right: 2rem;
    padding: 2.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1312px) {
  .container {
    padding: 5rem;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: $light-color;
}

::-webkit-scrollbar-thumb {
  background: $dark-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
  -webkit-text-fill-color: $dark-color !important;
}

.theme--dark {
  ::-webkit-scrollbar-track {
    background: $dark-color;
  }

  ::-webkit-scrollbar-thumb {
    background: $light-color;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 0s 50000s;
    -webkit-text-fill-color: $light-color !important;
  }
}
