@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Urbanist", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: var(--theme-main-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}
