.theme--light {
  color: $dark-color;

  .header__wrapper--scrolled {
    background-color: $light-color;
  }

  .header__menu {
    background-color: #f3f2ff;
    color: $dark-color;
  }

  .menu__submenu::before {
    background-color: #f3f2ff;
  }

  .menu__item-btn:hover {
    // background-color: rgba(255, 255, 255, 0.123);
  }

  .menu__submenu {
    color: $dark-color;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .submenu__item:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: $dark-color;
  }

  .search__input {
    color: $dark-color;
  }

  .search__input::placeholder {
    color: $dark-color;
  }

  .login__btn {
    color: $dark-color;
  }

  .section__title {
    color: $dark-color;
  }

  .section__explore-btn {
    color: $dark-color;
  }

  .auctions__wrapper {
    background-color: #f3f2ff;
  }

  .auctions__card {
    background-color: $light-color;
    color: rgba(0, 0, 0, 0.85);
  }

  .card__title a {
    color: $dark-color;
  }

  .card__time {
    background-color: $light-color;
  }

  .creator__name {
    color: $dark-color;
  }

  .card__bid-number span {
    color: $dark-color;
  }

  .picks__load-btn {
    box-shadow: inset 0 0 0 0.1rem $dark-color;
  }

  .article__likes {
    background-color: transparent;
    color: $dark-color;
  }

  .pagination__btn {
    color: $dark-color;
  }

  .pagination__page {
    background-color: $dark-color;
  }

  .page-select__input {
    box-shadow: 0 0 0 0.05rem $dark-color;
    color: $dark-color;
  }

  .pagination__page--active {
    box-shadow: 0 0 0 0.3rem $light-color, 0 0 0 0.4rem $dark-color;
  }

  .collection__card {
    background-color: rgba(255, 255, 255, 0.06);
    color: rgba(255, 255, 255, 0.85);
  }

  .collection__creator {
    color: #00000080;
  }

  .collection__creator a {
    color: $dark-color;
  }

  .collection__link,
  .collection__creator-link {
    color: $dark-color;
  }

  .seller__card a {
    color: $dark-color;
  }

  .filter__btn {
    color: $dark-color;
    box-shadow: 0 0 0 0.1rem $dark-color;
  }

  .picks__filter-btn:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .picks__filter-btn--active {
    background-color: rgba(0, 0, 0, 0.884);
    color: $light-color;
  }

  .picks__filter-btn--active:hover {
    background-color: rgba(0, 0, 0, 0.884);
  }

  .picks__card {
    color: rgba(0, 0, 0, 0.9);
  }

  .picks__card .pick__likes {
    background-color: rgba(255, 255, 255, 0.85);
  }

  .socials__menu {
    background-color: #f0f0ff;
  }

  .socials__placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  .socials__menu:hover .socials__placeholder {
    color: rgba(0, 0, 0, 0.75);
  }

  .socials__link {
    color: rgba(0, 0, 0, 0.5);
  }

  .socials__link:hover {
    color: rgba(0, 0, 0, 0.75);
  }

  .scroll__btn {
    background-color: #3930a3bb;
    color: $light-color;
  }

  .theme__btn--active {
    background-color: hsla(0, 0%, 0%, 0.137);
  }

  @media screen and (min-width: 1400px) {
    .header__menu {
      background-color: transparent;
      color: inherit;
    }

    .menu__submenu {
      background-color: #f3f2ff;
      color: $dark-color;
    }

    .menu__item:hover .menu__item-btn {
      background-color: unset;
      color: $primary-color;
    }

    .submenu__item::before {
      box-shadow: 0 0 0 0.02rem $dark-color;
    }

    .search__wrapper {
      background-color: #f3f2ff;
    }

    .header__search--expanded .search__input {
      color: $dark-color;
    }

    .header__search--expanded .search__wrapper i {
      color: $dark-color;
    }

    .header__search--expanded .search__btn {
      background-color: #f3f2ff;
      color: $dark-color;
    }

    .search__input {
      color: $dark-color;
    }

    .search__input::placeholder {
      color: $dark-color;
    }

    .theme__btn--active {
      background-color: hsla(0, 0%, 0%, 0.1);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: all 0s 50000s;
      -webkit-text-fill-color: $dark-color !important;
    }
  }
}
