#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1699px 656px #ffffff4d, 1071px 620px #ffffff4d,
    263px 1581px #ffffff4d, 697px 1121px #ffffff4d, 1924px 220px #ffffff4d,
    1877px 1420px #ffffff4d, 1711px 1853px #ffffff4d, 1007px 1735px #ffffff4d,
    745px 1664px #ffffff4d, 587px 1254px #ffffff4d, 686px 1721px #ffffff4d,
    762px 897px #ffffff4d, 1579px 745px #ffffff4d, 743px 406px #ffffff4d,
    67px 370px #ffffff4d, 1755px 1839px #ffffff4d, 1721px 1403px #ffffff4d,
    1734px 1373px #ffffff4d, 57px 663px #ffffff4d, 172px 1359px #ffffff4d,
    1301px 1794px #ffffff4d, 151px 1434px #ffffff4d, 1406px 353px #ffffff4d,
    326px 393px #ffffff4d, 661px 323px #ffffff4d, 801px 1480px #ffffff4d,
    1463px 1292px #ffffff4d, 1379px 1225px #ffffff4d, 1032px 95px #ffffff4d,
    1449px 361px #ffffff4d, 1665px 351px #ffffff4d, 639px 1162px #ffffff4d,
    949px 29px #ffffff4d, 775px 1675px #ffffff4d, 282px 736px #ffffff4d,
    1855px 1115px #ffffff4d, 1662px 1820px #ffffff4d, 1164px 1895px #ffffff4d,
    59px 1033px #ffffff4d, 349px 452px #ffffff4d, 1592px 1330px #ffffff4d,
    1401px 1796px #ffffff4d, 1353px 210px #ffffff4d, 824px 1049px #ffffff4d,
    239px 1654px #ffffff4d, 1079px 504px #ffffff4d, 951px 177px #ffffff4d,
    1435px 1168px #ffffff4d, 350px 383px #ffffff4d, 1489px 1276px #ffffff4d,
    1630px 69px #ffffff4d, 1591px 480px #ffffff4d, 1751px 911px #ffffff4d,
    666px 1712px #ffffff4d, 1359px 1396px #ffffff4d, 936px 1112px #ffffff4d,
    107px 1163px #ffffff4d, 1014px 787px #ffffff4d, 1727px 579px #ffffff4d,
    116px 1931px #ffffff4d, 1857px 346px #ffffff4d, 1622px 1074px #ffffff4d,
    1342px 1096px #ffffff4d, 436px 1758px #ffffff4d, 959px 231px #ffffff4d,
    470px 451px #ffffff4d, 1951px 244px #ffffff4d, 428px 1745px #ffffff4d,
    1249px 664px #ffffff4d, 1903px 1644px #ffffff4d, 1838px 936px #ffffff4d,
    1984px 1749px #ffffff4d, 1048px 1251px #ffffff4d, 859px 1139px #ffffff4d,
    1116px 1870px #ffffff4d, 688px 1056px #ffffff4d, 1810px 645px #ffffff4d,
    1239px 587px #ffffff4d, 502px 1088px #ffffff4d, 716px 1137px #ffffff4d,
    1581px 1023px #ffffff4d, 1219px 549px #ffffff4d, 359px 1283px #ffffff4d,
    1905px 873px #ffffff4d, 1822px 688px #ffffff4d, 769px 922px #ffffff4d,
    1623px 94px #ffffff4d, 303px 1260px #ffffff4d, 1382px 1236px #ffffff4d,
    335px 1835px #ffffff4d, 671px 1791px #ffffff4d, 1436px 1655px #ffffff4d,
    1426px 1987px #ffffff4d, 220px 370px #ffffff4d, 406px 866px #ffffff4d,
    1117px 342px #ffffff4d, 470px 1351px #ffffff4d, 117px 1976px #ffffff4d,
    975px 1245px #ffffff4d, 332px 823px #ffffff4d, 928px 1430px #ffffff4d,
    231px 1499px #ffffff4d, 1036px 1772px #ffffff4d, 1046px 458px #ffffff4d,
    994px 1557px #ffffff4d, 775px 907px #ffffff4d, 1374px 179px #ffffff4d,
    1637px 202px #ffffff4d, 203px 1457px #ffffff4d, 1916px 1251px #ffffff4d,
    1428px 374px #ffffff4d, 1695px 1398px #ffffff4d, 1667px 529px #ffffff4d,
    31px 716px #ffffff4d, 1300px 725px #ffffff4d, 786px 1773px #ffffff4d,
    1093px 835px #ffffff4d, 1719px 1775px #ffffff4d, 93px 922px #ffffff4d,
    215px 114px #ffffff4d, 1615px 1239px #ffffff4d, 798px 1591px #ffffff4d,
    780px 107px #ffffff4d, 1979px 1853px #ffffff4d, 1805px 726px #ffffff4d,
    1873px 1724px #ffffff4d, 686px 1752px #ffffff4d, 1281px 1561px #ffffff4d,
    1213px 944px #ffffff4d, 1387px 925px #ffffff4d, 411px 1771px #ffffff4d,
    706px 720px #ffffff4d, 1057px 1934px #ffffff4d, 1679px 882px #ffffff4d,
    569px 1351px #ffffff4d, 956px 1353px #ffffff4d, 716px 2px #ffffff4d,
    545px 1498px #ffffff4d, 848px 558px #ffffff4d, 509px 498px #ffffff4d,
    584px 1781px #ffffff4d, 844px 666px #ffffff4d, 1144px 1974px #ffffff4d,
    26px 692px #ffffff4d, 389px 264px #ffffff4d, 232px 1388px #ffffff4d,
    351px 1912px #ffffff4d, 896px 1036px #ffffff4d, 1708px 1529px #ffffff4d,
    1965px 483px #ffffff4d, 711px 1292px #ffffff4d, 1223px 1549px #ffffff4d,
    292px 1915px #ffffff4d, 1321px 44px #ffffff4d, 1479px 279px #ffffff4d,
    46px 93px #ffffff4d, 1310px 295px #ffffff4d, 1490px 1920px #ffffff4d,
    260px 314px #ffffff4d, 1686px 946px #ffffff4d, 283px 1821px #ffffff4d,
    273px 469px #ffffff4d, 424px 449px #ffffff4d, 158px 863px #ffffff4d,
    1058px 800px #ffffff4d, 1636px 690px #ffffff4d, 1002px 1958px #ffffff4d,
    243px 1076px #ffffff4d, 1245px 226px #ffffff4d, 509px 1830px #ffffff4d,
    902px 1930px #ffffff4d, 1667px 1849px #ffffff4d, 773px 993px #ffffff4d,
    1365px 1991px #ffffff4d, 1348px 442px #ffffff4d, 592px 885px #ffffff4d,
    1654px 1928px #ffffff4d, 410px 426px #ffffff4d, 1364px 1387px #ffffff4d,
    60px 1023px #ffffff4d, 991px 1363px #ffffff4d, 1964px 706px #ffffff4d,
    201px 1854px #ffffff4d, 1922px 1117px #ffffff4d, 477px 961px #ffffff4d,
    1405px 122px #ffffff4d, 238px 469px #ffffff4d, 213px 801px #ffffff4d,
    301px 1659px #ffffff4d, 574px 1470px #ffffff4d, 1940px 567px #ffffff4d,
    1004px 366px #ffffff4d, 1458px 1472px #ffffff4d, 333px 1427px #ffffff4d,
    710px 912px #ffffff4d, 115px 1531px #ffffff4d, 1790px 1448px #ffffff4d,
    208px 330px #ffffff4d, 717px 123px #ffffff4d, 414px 1479px #ffffff4d,
    969px 1541px #ffffff4d, 663px 1150px #ffffff4d, 791px 975px #ffffff4d,
    1583px 1587px #ffffff4d, 1846px 1775px #ffffff4d, 1225px 1104px #ffffff4d,
    1351px 586px #ffffff4d, 977px 788px #ffffff4d, 94px 551px #ffffff4d,
    1839px 678px #ffffff4d, 297px 1048px #ffffff4d, 1651px 73px #ffffff4d,
    1728px 1054px #ffffff4d, 1718px 1808px #ffffff4d, 561px 274px #ffffff4d,
    9px 752px #ffffff4d, 1603px 1017px #ffffff4d, 505px 268px #ffffff4d,
    1498px 1908px #ffffff4d, 1543px 1732px #ffffff4d, 494px 1518px #ffffff4d,
    1630px 551px #ffffff4d, 265px 1203px #ffffff4d, 32px 1610px #ffffff4d,
    1142px 47px #ffffff4d, 54px 1403px #ffffff4d, 1481px 1099px #ffffff4d,
    139px 1375px #ffffff4d, 1386px 60px #ffffff4d, 318px 1954px #ffffff4d,
    1414px 495px #ffffff4d, 672px 694px #ffffff4d, 1093px 702px #ffffff4d,
    1376px 1036px #ffffff4d, 393px 815px #ffffff4d, 644px 1235px #ffffff4d,
    48px 11px #ffffff4d, 96px 913px #ffffff4d, 1122px 1379px #ffffff4d,
    1972px 1323px #ffffff4d, 1851px 1013px #ffffff4d, 501px 1752px #ffffff4d,
    22px 235px #ffffff4d, 570px 721px #ffffff4d, 806px 487px #ffffff4d,
    475px 333px #ffffff4d, 496px 635px #ffffff4d, 1497px 656px #ffffff4d,
    1233px 406px #ffffff4d, 995px 1699px #ffffff4d, 778px 1562px #ffffff4d,
    457px 846px #ffffff4d, 912px 885px #ffffff4d, 113px 1574px #ffffff4d,
    257px 1851px #ffffff4d, 154px 954px #ffffff4d, 1683px 95px #ffffff4d,
    1847px 421px #ffffff4d, 98px 757px #ffffff4d, 1132px 1773px #ffffff4d,
    1217px 1454px #ffffff4d, 1207px 1499px #ffffff4d, 1680px 1835px #ffffff4d,
    864px 1939px #ffffff4d, 1936px 1685px #ffffff4d, 162px 1885px #ffffff4d,
    1371px 1169px #ffffff4d, 1739px 325px #ffffff4d, 1758px 1999px #ffffff4d,
    1842px 473px #ffffff4d, 1675px 1552px #ffffff4d, 460px 468px #ffffff4d,
    123px 1694px #ffffff4d, 161px 1301px #ffffff4d, 780px 1785px #ffffff4d,
    162px 1978px #ffffff4d, 979px 991px #ffffff4d, 340px 607px #ffffff4d,
    1108px 1752px #ffffff4d, 222px 1512px #ffffff4d, 808px 257px #ffffff4d,
    1845px 1356px #ffffff4d, 1760px 434px #ffffff4d, 654px 923px #ffffff4d,
    1648px 1746px #ffffff4d, 45px 16px #ffffff4d, 1776px 221px #ffffff4d,
    1895px 1445px #ffffff4d, 1606px 556px #ffffff4d, 431px 154px #ffffff4d,
    937px 651px #ffffff4d, 598px 333px #ffffff4d, 1314px 355px #ffffff4d,
    68px 922px #ffffff4d, 459px 1311px #ffffff4d, 738px 420px #ffffff4d,
    73px 1561px #ffffff4d, 1599px 1837px #ffffff4d, 201px 1548px #ffffff4d,
    1508px 336px #ffffff4d, 1871px 628px #ffffff4d, 469px 405px #ffffff4d,
    38px 965px #ffffff4d, 805px 1928px #ffffff4d, 540px 1990px #ffffff4d,
    559px 570px #ffffff4d, 1923px 529px #ffffff4d, 528px 1451px #ffffff4d,
    83px 28px #ffffff4d, 1613px 1513px #ffffff4d, 1503px 882px #ffffff4d,
    340px 1399px #ffffff4d, 437px 1097px #ffffff4d, 136px 243px #ffffff4d,
    1953px 1619px #ffffff4d, 723px 1206px #ffffff4d, 1732px 1904px #ffffff4d,
    483px 923px #ffffff4d, 587px 842px #ffffff4d, 707px 285px #ffffff4d,
    1265px 1767px #ffffff4d, 1942px 1024px #ffffff4d, 421px 1430px #ffffff4d,
    1775px 1925px #ffffff4d, 707px 1566px #ffffff4d, 1203px 47px #ffffff4d,
    368px 520px #ffffff4d, 978px 1719px #ffffff4d, 921px 1603px #ffffff4d,
    1136px 605px #ffffff4d, 1331px 438px #ffffff4d, 812px 188px #ffffff4d,
    1095px 523px #ffffff4d, 1483px 494px #ffffff4d, 1385px 586px #ffffff4d,
    354px 526px #ffffff4d, 1977px 1861px #ffffff4d, 1389px 76px #ffffff4d,
    1313px 1659px #ffffff4d, 1057px 1538px #ffffff4d, 151px 853px #ffffff4d,
    189px 1844px #ffffff4d, 1323px 1025px #ffffff4d, 79px 1591px #ffffff4d,
    1699px 1531px #ffffff4d, 549px 233px #ffffff4d, 1532px 1501px #ffffff4d,
    295px 1298px #ffffff4d, 1771px 1313px #ffffff4d, 390px 710px #ffffff4d,
    609px 868px #ffffff4d, 479px 935px #ffffff4d, 167px 685px #ffffff4d,
    562px 699px #ffffff4d, 1904px 1945px #ffffff4d, 1561px 1362px #ffffff4d,
    1536px 14px #ffffff4d, 1469px 271px #ffffff4d, 1998px 1974px #ffffff4d,
    104px 539px #ffffff4d, 1713px 935px #ffffff4d, 1602px 1332px #ffffff4d,
    1192px 83px #ffffff4d, 1744px 1164px #ffffff4d, 850px 1050px #ffffff4d,
    1852px 1967px #ffffff4d, 176px 538px #ffffff4d, 1751px 956px #ffffff4d,
    172px 303px #ffffff4d, 1133px 121px #ffffff4d, 226px 1236px #ffffff4d,
    1568px 1801px #ffffff4d, 1440px 1746px #ffffff4d, 1483px 120px #ffffff4d,
    1020px 626px #ffffff4d, 890px 162px #ffffff4d, 797px 452px #ffffff4d,
    1039px 1880px #ffffff4d, 948px 304px #ffffff4d, 152px 864px #ffffff4d,
    1904px 1415px #ffffff4d, 273px 335px #ffffff4d, 1891px 71px #ffffff4d,
    144px 1252px #ffffff4d, 176px 796px #ffffff4d, 1889px 1983px #ffffff4d,
    698px 815px #ffffff4d, 1111px 566px #ffffff4d, 470px 580px #ffffff4d,
    688px 133px #ffffff4d, 1559px 85px #ffffff4d, 1638px 768px #ffffff4d,
    179px 411px #ffffff4d, 1392px 144px #ffffff4d, 1426px 69px #ffffff4d,
    1502px 383px #ffffff4d, 1252px 109px #ffffff4d, 1525px 1862px #ffffff4d,
    1886px 1876px #ffffff4d, 1688px 1447px #ffffff4d, 1087px 798px #ffffff4d,
    613px 1399px #ffffff4d, 257px 1441px #ffffff4d, 1988px 1144px #ffffff4d,
    100px 364px #ffffff4d, 622px 1000px #ffffff4d, 529px 853px #ffffff4d,
    1586px 1249px #ffffff4d, 944px 341px #ffffff4d, 1390px 125px #ffffff4d,
    830px 464px #ffffff4d, 1339px 1263px #ffffff4d, 1957px 667px #ffffff4d,
    913px 412px #ffffff4d, 846px 919px #ffffff4d, 1883px 1133px #ffffff4d,
    868px 410px #ffffff4d, 1988px 1019px #ffffff4d, 890px 1341px #ffffff4d,
    1580px 354px #ffffff4d, 514px 1189px #ffffff4d, 603px 389px #ffffff4d,
    1694px 449px #ffffff4d, 1134px 587px #ffffff4d, 407px 128px #ffffff4d,
    668px 1639px #ffffff4d, 849px 1995px #ffffff4d, 619px 806px #ffffff4d,
    1019px 1620px #ffffff4d, 678px 1332px #ffffff4d, 780px 1946px #ffffff4d,
    1511px 1054px #ffffff4d, 1144px 367px #ffffff4d, 1275px 992px #ffffff4d,
    1853px 1504px #ffffff4d, 1338px 1860px #ffffff4d, 1991px 1240px #ffffff4d,
    726px 608px #ffffff4d, 1283px 1561px #ffffff4d, 1991px 1083px #ffffff4d,
    753px 706px #ffffff4d, 1761px 1726px #ffffff4d, 121px 1970px #ffffff4d,
    39px 761px #ffffff4d, 442px 1038px #ffffff4d, 4px 688px #ffffff4d,
    83px 413px #ffffff4d, 1956px 777px #ffffff4d, 989px 1419px #ffffff4d,
    1695px 1811px #ffffff4d, 932px 1202px #ffffff4d, 1027px 550px #ffffff4d,
    1703px 157px #ffffff4d, 144px 13px #ffffff4d, 869px 15px #ffffff4d,
    1682px 1758px #ffffff4d, 245px 104px #ffffff4d, 1546px 38px #ffffff4d,
    1926px 837px #ffffff4d, 1765px 1491px #ffffff4d, 1025px 692px #ffffff4d,
    1120px 40px #ffffff4d, 535px 458px #ffffff4d, 712px 1413px #ffffff4d,
    1980px 1866px #ffffff4d, 1836px 471px #ffffff4d, 1282px 166px #ffffff4d,
    1481px 1190px #ffffff4d, 1386px 697px #ffffff4d, 192px 1905px #ffffff4d,
    380px 752px #ffffff4d, 242px 557px #ffffff4d, 249px 715px #ffffff4d,
    1672px 1812px #ffffff4d, 942px 1904px #ffffff4d, 625px 1751px #ffffff4d,
    1079px 1581px #ffffff4d, 1743px 147px #ffffff4d, 710px 885px #ffffff4d,
    1215px 158px #ffffff4d, 36px 1499px #ffffff4d, 1544px 1937px #ffffff4d,
    1288px 176px #ffffff4d, 1362px 944px #ffffff4d, 1697px 1891px #ffffff4d,
    1545px 663px #ffffff4d, 874px 648px #ffffff4d, 56px 1591px #ffffff4d,
    553px 1736px #ffffff4d, 621px 1243px #ffffff4d, 1761px 723px #ffffff4d,
    458px 863px #ffffff4d, 1814px 548px #ffffff4d, 533px 158px #ffffff4d,
    259px 198px #ffffff4d, 935px 213px #ffffff4d, 1770px 81px #ffffff4d,
    1645px 797px #ffffff4d, 136px 1096px #ffffff4d, 876px 895px #ffffff4d,
    353px 699px #ffffff4d, 936px 1354px #ffffff4d, 337px 1061px #ffffff4d,
    272px 1950px #ffffff4d, 1782px 1903px #ffffff4d, 1372px 469px #ffffff4d,
    858px 279px #ffffff4d, 659px 1509px #ffffff4d, 194px 1032px #ffffff4d,
    44px 809px #ffffff4d, 212px 698px #ffffff4d, 50px 1958px #ffffff4d,
    1357px 899px #ffffff4d, 540px 1655px #ffffff4d, 1531px 453px #ffffff4d,
    1258px 1px #ffffff4d, 1497px 1864px #ffffff4d, 1925px 1626px #ffffff4d,
    1301px 1772px #ffffff4d, 1681px 836px #ffffff4d, 1597px 213px #ffffff4d,
    342px 1825px #ffffff4d, 286px 1851px #ffffff4d, 630px 1369px #ffffff4d,
    1272px 1783px #ffffff4d, 299px 1849px #ffffff4d, 1081px 773px #ffffff4d,
    1428px 1366px #ffffff4d, 609px 83px #ffffff4d, 108px 7px #ffffff4d,
    1673px 1817px #ffffff4d, 157px 1436px #ffffff4d, 1894px 1794px #ffffff4d,
    249px 1934px #ffffff4d, 438px 1602px #ffffff4d, 428px 1935px #ffffff4d,
    1474px 1791px #ffffff4d, 625px 1342px #ffffff4d, 788px 1410px #ffffff4d,
    1331px 1700px #ffffff4d, 1934px 1661px #ffffff4d, 791px 1101px #ffffff4d,
    1744px 1702px #ffffff4d, 1786px 119px #ffffff4d, 1571px 1850px #ffffff4d,
    836px 1213px #ffffff4d, 318px 1675px #ffffff4d, 793px 562px #ffffff4d,
    1589px 1257px #ffffff4d, 620px 1214px #ffffff4d, 438px 162px #ffffff4d,
    32px 250px #ffffff4d, 1523px 1989px #ffffff4d, 891px 982px #ffffff4d,
    22px 228px #ffffff4d, 692px 1091px #ffffff4d, 1199px 962px #ffffff4d,
    1932px 1657px #ffffff4d, 1873px 1422px #ffffff4d, 948px 725px #ffffff4d,
    750px 1051px #ffffff4d, 679px 308px #ffffff4d, 253px 1643px #ffffff4d,
    416px 1464px #ffffff4d, 1241px 1266px #ffffff4d, 819px 626px #ffffff4d,
    306px 1374px #ffffff4d, 1303px 1798px #ffffff4d, 345px 1535px #ffffff4d,
    484px 1664px #ffffff4d, 805px 1517px #ffffff4d, 1614px 22px #ffffff4d,
    1488px 1098px #ffffff4d, 1041px 1423px #ffffff4d, 756px 1949px #ffffff4d,
    404px 508px #ffffff4d, 1659px 1088px #ffffff4d, 623px 11px #ffffff4d,
    1953px 89px #ffffff4d, 1087px 114px #ffffff4d, 687px 265px #ffffff4d,
    1430px 1534px #ffffff4d, 677px 1195px #ffffff4d, 799px 1851px #ffffff4d,
    243px 1906px #ffffff4d, 1327px 167px #ffffff4d, 1889px 1383px #ffffff4d,
    122px 312px #ffffff4d, 1527px 747px #ffffff4d, 427px 1357px #ffffff4d,
    597px 1467px #ffffff4d, 1353px 559px #ffffff4d, 1900px 1512px #ffffff4d,
    560px 1002px #ffffff4d, 901px 855px #ffffff4d, 673px 178px #ffffff4d,
    194px 956px #ffffff4d, 1088px 1080px #ffffff4d, 944px 1136px #ffffff4d,
    1306px 1249px #ffffff4d, 504px 178px #ffffff4d, 972px 38px #ffffff4d,
    1829px 1319px #ffffff4d, 770px 1915px #ffffff4d, 162px 847px #ffffff4d,
    585px 1893px #ffffff4d, 1862px 1964px #ffffff4d, 1725px 1010px #ffffff4d,
    1225px 673px #ffffff4d, 366px 88px #ffffff4d, 602px 1948px #ffffff4d,
    145px 1269px #ffffff4d, 1107px 944px #ffffff4d, 203px 205px #ffffff4d,
    452px 1570px #ffffff4d, 157px 934px #ffffff4d, 524px 1271px #ffffff4d,
    851px 1256px #ffffff4d, 582px 1623px #ffffff4d, 1365px 1956px #ffffff4d,
    1819px 628px #ffffff4d, 1931px 1582px #ffffff4d, 833px 1488px #ffffff4d,
    262px 336px #ffffff4d, 1207px 1883px #ffffff4d, 524px 1435px #ffffff4d,
    1797px 910px #ffffff4d, 322px 1473px #ffffff4d, 1570px 1701px #ffffff4d,
    1295px 298px #ffffff4d, 962px 520px #ffffff4d, 1299px 144px #ffffff4d,
    572px 145px #ffffff4d, 31px 504px #ffffff4d, 438px 1082px #ffffff4d,
    118px 231px #ffffff4d, 1175px 1885px #ffffff4d, 1720px 1911px #ffffff4d,
    1800px 140px #ffffff4d, 379px 150px #ffffff4d, 1308px 835px #ffffff4d,
    645px 1988px #ffffff4d, 1509px 1632px #ffffff4d, 1923px 1848px #ffffff4d,
    1988px 1094px #ffffff4d, 588px 838px #ffffff4d, 564px 960px #ffffff4d,
    1754px 1665px #ffffff4d, 615px 1938px #ffffff4d, 1390px 922px #ffffff4d,
    1712px 429px #ffffff4d, 471px 658px #ffffff4d, 66px 1446px #ffffff4d,
    373px 6px #ffffff4d, 867px 562px #ffffff4d, 1407px 1445px #ffffff4d,
    1169px 915px #ffffff4d, 30px 192px #ffffff4d, 230px 152px #ffffff4d,
    1131px 719px #ffffff4d, 1503px 976px #ffffff4d, 1310px 241px #ffffff4d,
    634px 935px #ffffff4d, 396px 1054px #ffffff4d, 484px 1550px #ffffff4d,
    459px 508px #ffffff4d, 1529px 1244px #ffffff4d, 415px 694px #ffffff4d,
    1889px 231px #ffffff4d, 1757px 460px #ffffff4d, 929px 240px #ffffff4d,
    1642px 272px #ffffff4d, 1753px 1938px #ffffff4d, 1px 1059px #ffffff4d,
    1383px 835px #ffffff4d, 1891px 771px #ffffff4d, 1637px 121px #ffffff4d,
    1577px 1831px #ffffff4d, 1020px 1261px #ffffff4d, 826px 449px #ffffff4d,
    1178px 68px #ffffff4d, 1613px 1587px #ffffff4d, 691px 1076px #ffffff4d,
    147px 975px #ffffff4d, 1075px 1715px #ffffff4d, 685px 1474px #ffffff4d,
    637px 1853px #ffffff4d, 70px 1425px #ffffff4d, 550px 1657px #ffffff4d,
    236px 1991px #ffffff4d, 1857px 1892px #ffffff4d, 194px 301px #ffffff4d,
    788px 1774px #ffffff4d, 1114px 1316px #ffffff4d, 488px 1049px #ffffff4d,
    9px 748px #ffffff4d, 1538px 1112px #ffffff4d, 1817px 1054px #ffffff4d,
    1012px 104px #ffffff4d, 340px 699px #ffffff4d;
  z-index: -100;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1699px 656px #ffffff4d, 1071px 620px #ffffff4d,
    263px 1581px #ffffff4d, 697px 1121px #ffffff4d, 1924px 220px #ffffff4d,
    1877px 1420px #ffffff4d, 1711px 1853px #ffffff4d, 1007px 1735px #ffffff4d,
    745px 1664px #ffffff4d, 587px 1254px #ffffff4d, 686px 1721px #ffffff4d,
    762px 897px #ffffff4d, 1579px 745px #ffffff4d, 743px 406px #ffffff4d,
    67px 370px #ffffff4d, 1755px 1839px #ffffff4d, 1721px 1403px #ffffff4d,
    1734px 1373px #ffffff4d, 57px 663px #ffffff4d, 172px 1359px #ffffff4d,
    1301px 1794px #ffffff4d, 151px 1434px #ffffff4d, 1406px 353px #ffffff4d,
    326px 393px #ffffff4d, 661px 323px #ffffff4d, 801px 1480px #ffffff4d,
    1463px 1292px #ffffff4d, 1379px 1225px #ffffff4d, 1032px 95px #ffffff4d,
    1449px 361px #ffffff4d, 1665px 351px #ffffff4d, 639px 1162px #ffffff4d,
    949px 29px #ffffff4d, 775px 1675px #ffffff4d, 282px 736px #ffffff4d,
    1855px 1115px #ffffff4d, 1662px 1820px #ffffff4d, 1164px 1895px #ffffff4d,
    59px 1033px #ffffff4d, 349px 452px #ffffff4d, 1592px 1330px #ffffff4d,
    1401px 1796px #ffffff4d, 1353px 210px #ffffff4d, 824px 1049px #ffffff4d,
    239px 1654px #ffffff4d, 1079px 504px #ffffff4d, 951px 177px #ffffff4d,
    1435px 1168px #ffffff4d, 350px 383px #ffffff4d, 1489px 1276px #ffffff4d,
    1630px 69px #ffffff4d, 1591px 480px #ffffff4d, 1751px 911px #ffffff4d,
    666px 1712px #ffffff4d, 1359px 1396px #ffffff4d, 936px 1112px #ffffff4d,
    107px 1163px #ffffff4d, 1014px 787px #ffffff4d, 1727px 579px #ffffff4d,
    116px 1931px #ffffff4d, 1857px 346px #ffffff4d, 1622px 1074px #ffffff4d,
    1342px 1096px #ffffff4d, 436px 1758px #ffffff4d, 959px 231px #ffffff4d,
    470px 451px #ffffff4d, 1951px 244px #ffffff4d, 428px 1745px #ffffff4d,
    1249px 664px #ffffff4d, 1903px 1644px #ffffff4d, 1838px 936px #ffffff4d,
    1984px 1749px #ffffff4d, 1048px 1251px #ffffff4d, 859px 1139px #ffffff4d,
    1116px 1870px #ffffff4d, 688px 1056px #ffffff4d, 1810px 645px #ffffff4d,
    1239px 587px #ffffff4d, 502px 1088px #ffffff4d, 716px 1137px #ffffff4d,
    1581px 1023px #ffffff4d, 1219px 549px #ffffff4d, 359px 1283px #ffffff4d,
    1905px 873px #ffffff4d, 1822px 688px #ffffff4d, 769px 922px #ffffff4d,
    1623px 94px #ffffff4d, 303px 1260px #ffffff4d, 1382px 1236px #ffffff4d,
    335px 1835px #ffffff4d, 671px 1791px #ffffff4d, 1436px 1655px #ffffff4d,
    1426px 1987px #ffffff4d, 220px 370px #ffffff4d, 406px 866px #ffffff4d,
    1117px 342px #ffffff4d, 470px 1351px #ffffff4d, 117px 1976px #ffffff4d,
    975px 1245px #ffffff4d, 332px 823px #ffffff4d, 928px 1430px #ffffff4d,
    231px 1499px #ffffff4d, 1036px 1772px #ffffff4d, 1046px 458px #ffffff4d,
    994px 1557px #ffffff4d, 775px 907px #ffffff4d, 1374px 179px #ffffff4d,
    1637px 202px #ffffff4d, 203px 1457px #ffffff4d, 1916px 1251px #ffffff4d,
    1428px 374px #ffffff4d, 1695px 1398px #ffffff4d, 1667px 529px #ffffff4d,
    31px 716px #ffffff4d, 1300px 725px #ffffff4d, 786px 1773px #ffffff4d,
    1093px 835px #ffffff4d, 1719px 1775px #ffffff4d, 93px 922px #ffffff4d,
    215px 114px #ffffff4d, 1615px 1239px #ffffff4d, 798px 1591px #ffffff4d,
    780px 107px #ffffff4d, 1979px 1853px #ffffff4d, 1805px 726px #ffffff4d,
    1873px 1724px #ffffff4d, 686px 1752px #ffffff4d, 1281px 1561px #ffffff4d,
    1213px 944px #ffffff4d, 1387px 925px #ffffff4d, 411px 1771px #ffffff4d,
    706px 720px #ffffff4d, 1057px 1934px #ffffff4d, 1679px 882px #ffffff4d,
    569px 1351px #ffffff4d, 956px 1353px #ffffff4d, 716px 2px #ffffff4d,
    545px 1498px #ffffff4d, 848px 558px #ffffff4d, 509px 498px #ffffff4d,
    584px 1781px #ffffff4d, 844px 666px #ffffff4d, 1144px 1974px #ffffff4d,
    26px 692px #ffffff4d, 389px 264px #ffffff4d, 232px 1388px #ffffff4d,
    351px 1912px #ffffff4d, 896px 1036px #ffffff4d, 1708px 1529px #ffffff4d,
    1965px 483px #ffffff4d, 711px 1292px #ffffff4d, 1223px 1549px #ffffff4d,
    292px 1915px #ffffff4d, 1321px 44px #ffffff4d, 1479px 279px #ffffff4d,
    46px 93px #ffffff4d, 1310px 295px #ffffff4d, 1490px 1920px #ffffff4d,
    260px 314px #ffffff4d, 1686px 946px #ffffff4d, 283px 1821px #ffffff4d,
    273px 469px #ffffff4d, 424px 449px #ffffff4d, 158px 863px #ffffff4d,
    1058px 800px #ffffff4d, 1636px 690px #ffffff4d, 1002px 1958px #ffffff4d,
    243px 1076px #ffffff4d, 1245px 226px #ffffff4d, 509px 1830px #ffffff4d,
    902px 1930px #ffffff4d, 1667px 1849px #ffffff4d, 773px 993px #ffffff4d,
    1365px 1991px #ffffff4d, 1348px 442px #ffffff4d, 592px 885px #ffffff4d,
    1654px 1928px #ffffff4d, 410px 426px #ffffff4d, 1364px 1387px #ffffff4d,
    60px 1023px #ffffff4d, 991px 1363px #ffffff4d, 1964px 706px #ffffff4d,
    201px 1854px #ffffff4d, 1922px 1117px #ffffff4d, 477px 961px #ffffff4d,
    1405px 122px #ffffff4d, 238px 469px #ffffff4d, 213px 801px #ffffff4d,
    301px 1659px #ffffff4d, 574px 1470px #ffffff4d, 1940px 567px #ffffff4d,
    1004px 366px #ffffff4d, 1458px 1472px #ffffff4d, 333px 1427px #ffffff4d,
    710px 912px #ffffff4d, 115px 1531px #ffffff4d, 1790px 1448px #ffffff4d,
    208px 330px #ffffff4d, 717px 123px #ffffff4d, 414px 1479px #ffffff4d,
    969px 1541px #ffffff4d, 663px 1150px #ffffff4d, 791px 975px #ffffff4d,
    1583px 1587px #ffffff4d, 1846px 1775px #ffffff4d, 1225px 1104px #ffffff4d,
    1351px 586px #ffffff4d, 977px 788px #ffffff4d, 94px 551px #ffffff4d,
    1839px 678px #ffffff4d, 297px 1048px #ffffff4d, 1651px 73px #ffffff4d,
    1728px 1054px #ffffff4d, 1718px 1808px #ffffff4d, 561px 274px #ffffff4d,
    9px 752px #ffffff4d, 1603px 1017px #ffffff4d, 505px 268px #ffffff4d,
    1498px 1908px #ffffff4d, 1543px 1732px #ffffff4d, 494px 1518px #ffffff4d,
    1630px 551px #ffffff4d, 265px 1203px #ffffff4d, 32px 1610px #ffffff4d,
    1142px 47px #ffffff4d, 54px 1403px #ffffff4d, 1481px 1099px #ffffff4d,
    139px 1375px #ffffff4d, 1386px 60px #ffffff4d, 318px 1954px #ffffff4d,
    1414px 495px #ffffff4d, 672px 694px #ffffff4d, 1093px 702px #ffffff4d,
    1376px 1036px #ffffff4d, 393px 815px #ffffff4d, 644px 1235px #ffffff4d,
    48px 11px #ffffff4d, 96px 913px #ffffff4d, 1122px 1379px #ffffff4d,
    1972px 1323px #ffffff4d, 1851px 1013px #ffffff4d, 501px 1752px #ffffff4d,
    22px 235px #ffffff4d, 570px 721px #ffffff4d, 806px 487px #ffffff4d,
    475px 333px #ffffff4d, 496px 635px #ffffff4d, 1497px 656px #ffffff4d,
    1233px 406px #ffffff4d, 995px 1699px #ffffff4d, 778px 1562px #ffffff4d,
    457px 846px #ffffff4d, 912px 885px #ffffff4d, 113px 1574px #ffffff4d,
    257px 1851px #ffffff4d, 154px 954px #ffffff4d, 1683px 95px #ffffff4d,
    1847px 421px #ffffff4d, 98px 757px #ffffff4d, 1132px 1773px #ffffff4d,
    1217px 1454px #ffffff4d, 1207px 1499px #ffffff4d, 1680px 1835px #ffffff4d,
    864px 1939px #ffffff4d, 1936px 1685px #ffffff4d, 162px 1885px #ffffff4d,
    1371px 1169px #ffffff4d, 1739px 325px #ffffff4d, 1758px 1999px #ffffff4d,
    1842px 473px #ffffff4d, 1675px 1552px #ffffff4d, 460px 468px #ffffff4d,
    123px 1694px #ffffff4d, 161px 1301px #ffffff4d, 780px 1785px #ffffff4d,
    162px 1978px #ffffff4d, 979px 991px #ffffff4d, 340px 607px #ffffff4d,
    1108px 1752px #ffffff4d, 222px 1512px #ffffff4d, 808px 257px #ffffff4d,
    1845px 1356px #ffffff4d, 1760px 434px #ffffff4d, 654px 923px #ffffff4d,
    1648px 1746px #ffffff4d, 45px 16px #ffffff4d, 1776px 221px #ffffff4d,
    1895px 1445px #ffffff4d, 1606px 556px #ffffff4d, 431px 154px #ffffff4d,
    937px 651px #ffffff4d, 598px 333px #ffffff4d, 1314px 355px #ffffff4d,
    68px 922px #ffffff4d, 459px 1311px #ffffff4d, 738px 420px #ffffff4d,
    73px 1561px #ffffff4d, 1599px 1837px #ffffff4d, 201px 1548px #ffffff4d,
    1508px 336px #ffffff4d, 1871px 628px #ffffff4d, 469px 405px #ffffff4d,
    38px 965px #ffffff4d, 805px 1928px #ffffff4d, 540px 1990px #ffffff4d,
    559px 570px #ffffff4d, 1923px 529px #ffffff4d, 528px 1451px #ffffff4d,
    83px 28px #ffffff4d, 1613px 1513px #ffffff4d, 1503px 882px #ffffff4d,
    340px 1399px #ffffff4d, 437px 1097px #ffffff4d, 136px 243px #ffffff4d,
    1953px 1619px #ffffff4d, 723px 1206px #ffffff4d, 1732px 1904px #ffffff4d,
    483px 923px #ffffff4d, 587px 842px #ffffff4d, 707px 285px #ffffff4d,
    1265px 1767px #ffffff4d, 1942px 1024px #ffffff4d, 421px 1430px #ffffff4d,
    1775px 1925px #ffffff4d, 707px 1566px #ffffff4d, 1203px 47px #ffffff4d,
    368px 520px #ffffff4d, 978px 1719px #ffffff4d, 921px 1603px #ffffff4d,
    1136px 605px #ffffff4d, 1331px 438px #ffffff4d, 812px 188px #ffffff4d,
    1095px 523px #ffffff4d, 1483px 494px #ffffff4d, 1385px 586px #ffffff4d,
    354px 526px #ffffff4d, 1977px 1861px #ffffff4d, 1389px 76px #ffffff4d,
    1313px 1659px #ffffff4d, 1057px 1538px #ffffff4d, 151px 853px #ffffff4d,
    189px 1844px #ffffff4d, 1323px 1025px #ffffff4d, 79px 1591px #ffffff4d,
    1699px 1531px #ffffff4d, 549px 233px #ffffff4d, 1532px 1501px #ffffff4d,
    295px 1298px #ffffff4d, 1771px 1313px #ffffff4d, 390px 710px #ffffff4d,
    609px 868px #ffffff4d, 479px 935px #ffffff4d, 167px 685px #ffffff4d,
    562px 699px #ffffff4d, 1904px 1945px #ffffff4d, 1561px 1362px #ffffff4d,
    1536px 14px #ffffff4d, 1469px 271px #ffffff4d, 1998px 1974px #ffffff4d,
    104px 539px #ffffff4d, 1713px 935px #ffffff4d, 1602px 1332px #ffffff4d,
    1192px 83px #ffffff4d, 1744px 1164px #ffffff4d, 850px 1050px #ffffff4d,
    1852px 1967px #ffffff4d, 176px 538px #ffffff4d, 1751px 956px #ffffff4d,
    172px 303px #ffffff4d, 1133px 121px #ffffff4d, 226px 1236px #ffffff4d,
    1568px 1801px #ffffff4d, 1440px 1746px #ffffff4d, 1483px 120px #ffffff4d,
    1020px 626px #ffffff4d, 890px 162px #ffffff4d, 797px 452px #ffffff4d,
    1039px 1880px #ffffff4d, 948px 304px #ffffff4d, 152px 864px #ffffff4d,
    1904px 1415px #ffffff4d, 273px 335px #ffffff4d, 1891px 71px #ffffff4d,
    144px 1252px #ffffff4d, 176px 796px #ffffff4d, 1889px 1983px #ffffff4d,
    698px 815px #ffffff4d, 1111px 566px #ffffff4d, 470px 580px #ffffff4d,
    688px 133px #ffffff4d, 1559px 85px #ffffff4d, 1638px 768px #ffffff4d,
    179px 411px #ffffff4d, 1392px 144px #ffffff4d, 1426px 69px #ffffff4d,
    1502px 383px #ffffff4d, 1252px 109px #ffffff4d, 1525px 1862px #ffffff4d,
    1886px 1876px #ffffff4d, 1688px 1447px #ffffff4d, 1087px 798px #ffffff4d,
    613px 1399px #ffffff4d, 257px 1441px #ffffff4d, 1988px 1144px #ffffff4d,
    100px 364px #ffffff4d, 622px 1000px #ffffff4d, 529px 853px #ffffff4d,
    1586px 1249px #ffffff4d, 944px 341px #ffffff4d, 1390px 125px #ffffff4d,
    830px 464px #ffffff4d, 1339px 1263px #ffffff4d, 1957px 667px #ffffff4d,
    913px 412px #ffffff4d, 846px 919px #ffffff4d, 1883px 1133px #ffffff4d,
    868px 410px #ffffff4d, 1988px 1019px #ffffff4d, 890px 1341px #ffffff4d,
    1580px 354px #ffffff4d, 514px 1189px #ffffff4d, 603px 389px #ffffff4d,
    1694px 449px #ffffff4d, 1134px 587px #ffffff4d, 407px 128px #ffffff4d,
    668px 1639px #ffffff4d, 849px 1995px #ffffff4d, 619px 806px #ffffff4d,
    1019px 1620px #ffffff4d, 678px 1332px #ffffff4d, 780px 1946px #ffffff4d,
    1511px 1054px #ffffff4d, 1144px 367px #ffffff4d, 1275px 992px #ffffff4d,
    1853px 1504px #ffffff4d, 1338px 1860px #ffffff4d, 1991px 1240px #ffffff4d,
    726px 608px #ffffff4d, 1283px 1561px #ffffff4d, 1991px 1083px #ffffff4d,
    753px 706px #ffffff4d, 1761px 1726px #ffffff4d, 121px 1970px #ffffff4d,
    39px 761px #ffffff4d, 442px 1038px #ffffff4d, 4px 688px #ffffff4d,
    83px 413px #ffffff4d, 1956px 777px #ffffff4d, 989px 1419px #ffffff4d,
    1695px 1811px #ffffff4d, 932px 1202px #ffffff4d, 1027px 550px #ffffff4d,
    1703px 157px #ffffff4d, 144px 13px #ffffff4d, 869px 15px #ffffff4d,
    1682px 1758px #ffffff4d, 245px 104px #ffffff4d, 1546px 38px #ffffff4d,
    1926px 837px #ffffff4d, 1765px 1491px #ffffff4d, 1025px 692px #ffffff4d,
    1120px 40px #ffffff4d, 535px 458px #ffffff4d, 712px 1413px #ffffff4d,
    1980px 1866px #ffffff4d, 1836px 471px #ffffff4d, 1282px 166px #ffffff4d,
    1481px 1190px #ffffff4d, 1386px 697px #ffffff4d, 192px 1905px #ffffff4d,
    380px 752px #ffffff4d, 242px 557px #ffffff4d, 249px 715px #ffffff4d,
    1672px 1812px #ffffff4d, 942px 1904px #ffffff4d, 625px 1751px #ffffff4d,
    1079px 1581px #ffffff4d, 1743px 147px #ffffff4d, 710px 885px #ffffff4d,
    1215px 158px #ffffff4d, 36px 1499px #ffffff4d, 1544px 1937px #ffffff4d,
    1288px 176px #ffffff4d, 1362px 944px #ffffff4d, 1697px 1891px #ffffff4d,
    1545px 663px #ffffff4d, 874px 648px #ffffff4d, 56px 1591px #ffffff4d,
    553px 1736px #ffffff4d, 621px 1243px #ffffff4d, 1761px 723px #ffffff4d,
    458px 863px #ffffff4d, 1814px 548px #ffffff4d, 533px 158px #ffffff4d,
    259px 198px #ffffff4d, 935px 213px #ffffff4d, 1770px 81px #ffffff4d,
    1645px 797px #ffffff4d, 136px 1096px #ffffff4d, 876px 895px #ffffff4d,
    353px 699px #ffffff4d, 936px 1354px #ffffff4d, 337px 1061px #ffffff4d,
    272px 1950px #ffffff4d, 1782px 1903px #ffffff4d, 1372px 469px #ffffff4d,
    858px 279px #ffffff4d, 659px 1509px #ffffff4d, 194px 1032px #ffffff4d,
    44px 809px #ffffff4d, 212px 698px #ffffff4d, 50px 1958px #ffffff4d,
    1357px 899px #ffffff4d, 540px 1655px #ffffff4d, 1531px 453px #ffffff4d,
    1258px 1px #ffffff4d, 1497px 1864px #ffffff4d, 1925px 1626px #ffffff4d,
    1301px 1772px #ffffff4d, 1681px 836px #ffffff4d, 1597px 213px #ffffff4d,
    342px 1825px #ffffff4d, 286px 1851px #ffffff4d, 630px 1369px #ffffff4d,
    1272px 1783px #ffffff4d, 299px 1849px #ffffff4d, 1081px 773px #ffffff4d,
    1428px 1366px #ffffff4d, 609px 83px #ffffff4d, 108px 7px #ffffff4d,
    1673px 1817px #ffffff4d, 157px 1436px #ffffff4d, 1894px 1794px #ffffff4d,
    249px 1934px #ffffff4d, 438px 1602px #ffffff4d, 428px 1935px #ffffff4d,
    1474px 1791px #ffffff4d, 625px 1342px #ffffff4d, 788px 1410px #ffffff4d,
    1331px 1700px #ffffff4d, 1934px 1661px #ffffff4d, 791px 1101px #ffffff4d,
    1744px 1702px #ffffff4d, 1786px 119px #ffffff4d, 1571px 1850px #ffffff4d,
    836px 1213px #ffffff4d, 318px 1675px #ffffff4d, 793px 562px #ffffff4d,
    1589px 1257px #ffffff4d, 620px 1214px #ffffff4d, 438px 162px #ffffff4d,
    32px 250px #ffffff4d, 1523px 1989px #ffffff4d, 891px 982px #ffffff4d,
    22px 228px #ffffff4d, 692px 1091px #ffffff4d, 1199px 962px #ffffff4d,
    1932px 1657px #ffffff4d, 1873px 1422px #ffffff4d, 948px 725px #ffffff4d,
    750px 1051px #ffffff4d, 679px 308px #ffffff4d, 253px 1643px #ffffff4d,
    416px 1464px #ffffff4d, 1241px 1266px #ffffff4d, 819px 626px #ffffff4d,
    306px 1374px #ffffff4d, 1303px 1798px #ffffff4d, 345px 1535px #ffffff4d,
    484px 1664px #ffffff4d, 805px 1517px #ffffff4d, 1614px 22px #ffffff4d,
    1488px 1098px #ffffff4d, 1041px 1423px #ffffff4d, 756px 1949px #ffffff4d,
    404px 508px #ffffff4d, 1659px 1088px #ffffff4d, 623px 11px #ffffff4d,
    1953px 89px #ffffff4d, 1087px 114px #ffffff4d, 687px 265px #ffffff4d,
    1430px 1534px #ffffff4d, 677px 1195px #ffffff4d, 799px 1851px #ffffff4d,
    243px 1906px #ffffff4d, 1327px 167px #ffffff4d, 1889px 1383px #ffffff4d,
    122px 312px #ffffff4d, 1527px 747px #ffffff4d, 427px 1357px #ffffff4d,
    597px 1467px #ffffff4d, 1353px 559px #ffffff4d, 1900px 1512px #ffffff4d,
    560px 1002px #ffffff4d, 901px 855px #ffffff4d, 673px 178px #ffffff4d,
    194px 956px #ffffff4d, 1088px 1080px #ffffff4d, 944px 1136px #ffffff4d,
    1306px 1249px #ffffff4d, 504px 178px #ffffff4d, 972px 38px #ffffff4d,
    1829px 1319px #ffffff4d, 770px 1915px #ffffff4d, 162px 847px #ffffff4d,
    585px 1893px #ffffff4d, 1862px 1964px #ffffff4d, 1725px 1010px #ffffff4d,
    1225px 673px #ffffff4d, 366px 88px #ffffff4d, 602px 1948px #ffffff4d,
    145px 1269px #ffffff4d, 1107px 944px #ffffff4d, 203px 205px #ffffff4d,
    452px 1570px #ffffff4d, 157px 934px #ffffff4d, 524px 1271px #ffffff4d,
    851px 1256px #ffffff4d, 582px 1623px #ffffff4d, 1365px 1956px #ffffff4d,
    1819px 628px #ffffff4d, 1931px 1582px #ffffff4d, 833px 1488px #ffffff4d,
    262px 336px #ffffff4d, 1207px 1883px #ffffff4d, 524px 1435px #ffffff4d,
    1797px 910px #ffffff4d, 322px 1473px #ffffff4d, 1570px 1701px #ffffff4d,
    1295px 298px #ffffff4d, 962px 520px #ffffff4d, 1299px 144px #ffffff4d,
    572px 145px #ffffff4d, 31px 504px #ffffff4d, 438px 1082px #ffffff4d,
    118px 231px #ffffff4d, 1175px 1885px #ffffff4d, 1720px 1911px #ffffff4d,
    1800px 140px #ffffff4d, 379px 150px #ffffff4d, 1308px 835px #ffffff4d,
    645px 1988px #ffffff4d, 1509px 1632px #ffffff4d, 1923px 1848px #ffffff4d,
    1988px 1094px #ffffff4d, 588px 838px #ffffff4d, 564px 960px #ffffff4d,
    1754px 1665px #ffffff4d, 615px 1938px #ffffff4d, 1390px 922px #ffffff4d,
    1712px 429px #ffffff4d, 471px 658px #ffffff4d, 66px 1446px #ffffff4d,
    373px 6px #ffffff4d, 867px 562px #ffffff4d, 1407px 1445px #ffffff4d,
    1169px 915px #ffffff4d, 30px 192px #ffffff4d, 230px 152px #ffffff4d,
    1131px 719px #ffffff4d, 1503px 976px #ffffff4d, 1310px 241px #ffffff4d,
    634px 935px #ffffff4d, 396px 1054px #ffffff4d, 484px 1550px #ffffff4d,
    459px 508px #ffffff4d, 1529px 1244px #ffffff4d, 415px 694px #ffffff4d,
    1889px 231px #ffffff4d, 1757px 460px #ffffff4d, 929px 240px #ffffff4d,
    1642px 272px #ffffff4d, 1753px 1938px #ffffff4d, 1px 1059px #ffffff4d,
    1383px 835px #ffffff4d, 1891px 771px #ffffff4d, 1637px 121px #ffffff4d,
    1577px 1831px #ffffff4d, 1020px 1261px #ffffff4d, 826px 449px #ffffff4d,
    1178px 68px #ffffff4d, 1613px 1587px #ffffff4d, 691px 1076px #ffffff4d,
    147px 975px #ffffff4d, 1075px 1715px #ffffff4d, 685px 1474px #ffffff4d,
    637px 1853px #ffffff4d, 70px 1425px #ffffff4d, 550px 1657px #ffffff4d,
    236px 1991px #ffffff4d, 1857px 1892px #ffffff4d, 194px 301px #ffffff4d,
    788px 1774px #ffffff4d, 1114px 1316px #ffffff4d, 488px 1049px #ffffff4d,
    9px 748px #ffffff4d, 1538px 1112px #ffffff4d, 1817px 1054px #ffffff4d,
    1012px 104px #ffffff4d, 340px 699px #ffffff4d;
  z-index: -100;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1254px 1402px #ffffff4d, 1757px 82px #ffffff4d,
    1918px 1409px #ffffff4d, 511px 914px #ffffff4d, 864px 1912px #ffffff4d,
    1145px 77px #ffffff4d, 1382px 1050px #ffffff4d, 1718px 688px #ffffff4d,
    1219px 1605px #ffffff4d, 1361px 1246px #ffffff4d, 940px 1754px #ffffff4d,
    453px 1557px #ffffff4d, 1328px 345px #ffffff4d, 1563px 142px #ffffff4d,
    1097px 28px #ffffff4d, 1433px 10px #ffffff4d, 1806px 390px #ffffff4d,
    681px 267px #ffffff4d, 639px 1366px #ffffff4d, 793px 843px #ffffff4d,
    1973px 1445px #ffffff4d, 1133px 896px #ffffff4d, 654px 1372px #ffffff4d,
    750px 32px #ffffff4d, 265px 1834px #ffffff4d, 455px 289px #ffffff4d,
    1331px 1145px #ffffff4d, 658px 1028px #ffffff4d, 1011px 1096px #ffffff4d,
    751px 1306px #ffffff4d, 1789px 1753px #ffffff4d, 1855px 524px #ffffff4d,
    819px 1603px #ffffff4d, 1045px 275px #ffffff4d, 536px 1816px #ffffff4d,
    1271px 377px #ffffff4d, 549px 1967px #ffffff4d, 627px 992px #ffffff4d,
    1488px 398px #ffffff4d, 1902px 347px #ffffff4d, 1684px 1625px #ffffff4d,
    975px 906px #ffffff4d, 981px 195px #ffffff4d, 1799px 571px #ffffff4d,
    1658px 17px #ffffff4d, 1505px 642px #ffffff4d, 496px 578px #ffffff4d,
    1221px 1001px #ffffff4d, 1017px 1753px #ffffff4d, 144px 31px #ffffff4d,
    1460px 1508px #ffffff4d, 1579px 138px #ffffff4d, 131px 96px #ffffff4d,
    730px 8px #ffffff4d, 753px 1674px #ffffff4d, 278px 1166px #ffffff4d,
    1816px 1056px #ffffff4d, 809px 1084px #ffffff4d, 847px 1186px #ffffff4d,
    1064px 4px #ffffff4d, 1347px 724px #ffffff4d, 657px 1021px #ffffff4d,
    429px 422px #ffffff4d, 221px 1107px #ffffff4d, 236px 989px #ffffff4d,
    1609px 910px #ffffff4d, 63px 1582px #ffffff4d, 31px 1760px #ffffff4d,
    988px 489px #ffffff4d, 1018px 1721px #ffffff4d, 661px 94px #ffffff4d,
    1098px 1107px #ffffff4d, 988px 1708px #ffffff4d, 1076px 590px #ffffff4d,
    1568px 837px #ffffff4d, 459px 1724px #ffffff4d, 24px 1893px #ffffff4d,
    427px 51px #ffffff4d, 1991px 1908px #ffffff4d, 1438px 1233px #ffffff4d,
    1703px 673px #ffffff4d, 645px 843px #ffffff4d, 553px 368px #ffffff4d,
    820px 104px #ffffff4d, 766px 1134px #ffffff4d, 638px 1325px #ffffff4d,
    1871px 4px #ffffff4d, 1680px 538px #ffffff4d, 1418px 1520px #ffffff4d,
    1634px 419px #ffffff4d, 268px 769px #ffffff4d, 152px 356px #ffffff4d,
    237px 566px #ffffff4d, 1558px 1667px #ffffff4d, 1179px 713px #ffffff4d,
    1633px 420px #ffffff4d, 1015px 14px #ffffff4d, 966px 1322px #ffffff4d,
    1633px 1839px #ffffff4d, 1236px 531px #ffffff4d, 1879px 1860px #ffffff4d,
    360px 1597px #ffffff4d, 465px 1884px #ffffff4d, 1291px 737px #ffffff4d,
    1359px 558px #ffffff4d, 1478px 1080px #ffffff4d, 168px 601px #ffffff4d,
    1715px 1920px #ffffff4d, 1088px 218px #ffffff4d, 134px 1921px #ffffff4d,
    1699px 731px #ffffff4d, 743px 417px #ffffff4d, 561px 219px #ffffff4d,
    618px 1647px #ffffff4d, 514px 1057px #ffffff4d, 608px 414px #ffffff4d,
    1097px 891px #ffffff4d, 735px 380px #ffffff4d, 1288px 554px #ffffff4d,
    80px 1413px #ffffff4d, 1595px 1902px #ffffff4d, 1998px 81px #ffffff4d,
    1172px 1786px #ffffff4d, 4px 558px #ffffff4d, 1643px 1663px #ffffff4d,
    1152px 546px #ffffff4d, 584px 1551px #ffffff4d, 1480px 306px #ffffff4d,
    1331px 443px #ffffff4d, 461px 1334px #ffffff4d, 1492px 383px #ffffff4d,
    1524px 1819px #ffffff4d, 1288px 1705px #ffffff4d, 270px 338px #ffffff4d,
    961px 669px #ffffff4d, 750px 1140px #ffffff4d, 1677px 1199px #ffffff4d,
    346px 273px #ffffff4d, 1961px 1891px #ffffff4d, 1374px 1196px #ffffff4d,
    1346px 1816px #ffffff4d, 189px 865px #ffffff4d, 671px 321px #ffffff4d,
    1936px 1698px #ffffff4d, 1423px 1915px #ffffff4d, 865px 636px #ffffff4d,
    105px 510px #ffffff4d, 930px 27px #ffffff4d, 443px 1517px #ffffff4d,
    1029px 316px #ffffff4d, 1548px 304px #ffffff4d, 1879px 317px #ffffff4d,
    494px 619px #ffffff4d, 1000px 1976px #ffffff4d, 1025px 1881px #ffffff4d,
    147px 416px #ffffff4d, 936px 350px #ffffff4d, 719px 1177px #ffffff4d,
    280px 1867px #ffffff4d, 1944px 1919px #ffffff4d, 1607px 300px #ffffff4d,
    1224px 247px #ffffff4d, 1557px 192px #ffffff4d, 709px 1007px #ffffff4d,
    1919px 1784px #ffffff4d, 1818px 662px #ffffff4d, 1775px 1481px #ffffff4d,
    614px 736px #ffffff4d, 1128px 1930px #ffffff4d, 1831px 318px #ffffff4d,
    1285px 1762px #ffffff4d, 1224px 1583px #ffffff4d, 394px 1512px #ffffff4d,
    1481px 123px #ffffff4d, 716px 506px #ffffff4d, 1027px 1652px #ffffff4d,
    1549px 905px #ffffff4d, 1672px 1709px #ffffff4d, 172px 57px #ffffff4d,
    1602px 1824px #ffffff4d, 653px 1401px #ffffff4d, 1300px 1682px #ffffff4d,
    1987px 533px #ffffff4d, 1537px 1302px #ffffff4d, 937px 810px #ffffff4d,
    943px 1489px #ffffff4d, 1699px 1589px #ffffff4d, 1158px 807px #ffffff4d,
    1355px 1483px #ffffff4d, 660px 1626px #ffffff4d, 1151px 296px #ffffff4d,
    332px 1748px #ffffff4d, 1656px 45px #ffffff4d, 1720px 521px #ffffff4d,
    1654px 561px #ffffff4d, 1466px 984px #ffffff4d, 317px 1729px #ffffff4d,
    1719px 464px #ffffff4d, 680px 1108px #ffffff4d, 1724px 608px #ffffff4d;
  z-index: -100;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1254px 1402px #ffffff4d, 1757px 82px #ffffff4d,
    1918px 1409px #ffffff4d, 511px 914px #ffffff4d, 864px 1912px #ffffff4d,
    1145px 77px #ffffff4d, 1382px 1050px #ffffff4d, 1718px 688px #ffffff4d,
    1219px 1605px #ffffff4d, 1361px 1246px #ffffff4d, 940px 1754px #ffffff4d,
    453px 1557px #ffffff4d, 1328px 345px #ffffff4d, 1563px 142px #ffffff4d,
    1097px 28px #ffffff4d, 1433px 10px #ffffff4d, 1806px 390px #ffffff4d,
    681px 267px #ffffff4d, 639px 1366px #ffffff4d, 793px 843px #ffffff4d,
    1973px 1445px #ffffff4d, 1133px 896px #ffffff4d, 654px 1372px #ffffff4d,
    750px 32px #ffffff4d, 265px 1834px #ffffff4d, 455px 289px #ffffff4d,
    1331px 1145px #ffffff4d, 658px 1028px #ffffff4d, 1011px 1096px #ffffff4d,
    751px 1306px #ffffff4d, 1789px 1753px #ffffff4d, 1855px 524px #ffffff4d,
    819px 1603px #ffffff4d, 1045px 275px #ffffff4d, 536px 1816px #ffffff4d,
    1271px 377px #ffffff4d, 549px 1967px #ffffff4d, 627px 992px #ffffff4d,
    1488px 398px #ffffff4d, 1902px 347px #ffffff4d, 1684px 1625px #ffffff4d,
    975px 906px #ffffff4d, 981px 195px #ffffff4d, 1799px 571px #ffffff4d,
    1658px 17px #ffffff4d, 1505px 642px #ffffff4d, 496px 578px #ffffff4d,
    1221px 1001px #ffffff4d, 1017px 1753px #ffffff4d, 144px 31px #ffffff4d,
    1460px 1508px #ffffff4d, 1579px 138px #ffffff4d, 131px 96px #ffffff4d,
    730px 8px #ffffff4d, 753px 1674px #ffffff4d, 278px 1166px #ffffff4d,
    1816px 1056px #ffffff4d, 809px 1084px #ffffff4d, 847px 1186px #ffffff4d,
    1064px 4px #ffffff4d, 1347px 724px #ffffff4d, 657px 1021px #ffffff4d,
    429px 422px #ffffff4d, 221px 1107px #ffffff4d, 236px 989px #ffffff4d,
    1609px 910px #ffffff4d, 63px 1582px #ffffff4d, 31px 1760px #ffffff4d,
    988px 489px #ffffff4d, 1018px 1721px #ffffff4d, 661px 94px #ffffff4d,
    1098px 1107px #ffffff4d, 988px 1708px #ffffff4d, 1076px 590px #ffffff4d,
    1568px 837px #ffffff4d, 459px 1724px #ffffff4d, 24px 1893px #ffffff4d,
    427px 51px #ffffff4d, 1991px 1908px #ffffff4d, 1438px 1233px #ffffff4d,
    1703px 673px #ffffff4d, 645px 843px #ffffff4d, 553px 368px #ffffff4d,
    820px 104px #ffffff4d, 766px 1134px #ffffff4d, 638px 1325px #ffffff4d,
    1871px 4px #ffffff4d, 1680px 538px #ffffff4d, 1418px 1520px #ffffff4d,
    1634px 419px #ffffff4d, 268px 769px #ffffff4d, 152px 356px #ffffff4d,
    237px 566px #ffffff4d, 1558px 1667px #ffffff4d, 1179px 713px #ffffff4d,
    1633px 420px #ffffff4d, 1015px 14px #ffffff4d, 966px 1322px #ffffff4d,
    1633px 1839px #ffffff4d, 1236px 531px #ffffff4d, 1879px 1860px #ffffff4d,
    360px 1597px #ffffff4d, 465px 1884px #ffffff4d, 1291px 737px #ffffff4d,
    1359px 558px #ffffff4d, 1478px 1080px #ffffff4d, 168px 601px #ffffff4d,
    1715px 1920px #ffffff4d, 1088px 218px #ffffff4d, 134px 1921px #ffffff4d,
    1699px 731px #ffffff4d, 743px 417px #ffffff4d, 561px 219px #ffffff4d,
    618px 1647px #ffffff4d, 514px 1057px #ffffff4d, 608px 414px #ffffff4d,
    1097px 891px #ffffff4d, 735px 380px #ffffff4d, 1288px 554px #ffffff4d,
    80px 1413px #ffffff4d, 1595px 1902px #ffffff4d, 1998px 81px #ffffff4d,
    1172px 1786px #ffffff4d, 4px 558px #ffffff4d, 1643px 1663px #ffffff4d,
    1152px 546px #ffffff4d, 584px 1551px #ffffff4d, 1480px 306px #ffffff4d,
    1331px 443px #ffffff4d, 461px 1334px #ffffff4d, 1492px 383px #ffffff4d,
    1524px 1819px #ffffff4d, 1288px 1705px #ffffff4d, 270px 338px #ffffff4d,
    961px 669px #ffffff4d, 750px 1140px #ffffff4d, 1677px 1199px #ffffff4d,
    346px 273px #ffffff4d, 1961px 1891px #ffffff4d, 1374px 1196px #ffffff4d,
    1346px 1816px #ffffff4d, 189px 865px #ffffff4d, 671px 321px #ffffff4d,
    1936px 1698px #ffffff4d, 1423px 1915px #ffffff4d, 865px 636px #ffffff4d,
    105px 510px #ffffff4d, 930px 27px #ffffff4d, 443px 1517px #ffffff4d,
    1029px 316px #ffffff4d, 1548px 304px #ffffff4d, 1879px 317px #ffffff4d,
    494px 619px #ffffff4d, 1000px 1976px #ffffff4d, 1025px 1881px #ffffff4d,
    147px 416px #ffffff4d, 936px 350px #ffffff4d, 719px 1177px #ffffff4d,
    280px 1867px #ffffff4d, 1944px 1919px #ffffff4d, 1607px 300px #ffffff4d,
    1224px 247px #ffffff4d, 1557px 192px #ffffff4d, 709px 1007px #ffffff4d,
    1919px 1784px #ffffff4d, 1818px 662px #ffffff4d, 1775px 1481px #ffffff4d,
    614px 736px #ffffff4d, 1128px 1930px #ffffff4d, 1831px 318px #ffffff4d,
    1285px 1762px #ffffff4d, 1224px 1583px #ffffff4d, 394px 1512px #ffffff4d,
    1481px 123px #ffffff4d, 716px 506px #ffffff4d, 1027px 1652px #ffffff4d,
    1549px 905px #ffffff4d, 1672px 1709px #ffffff4d, 172px 57px #ffffff4d,
    1602px 1824px #ffffff4d, 653px 1401px #ffffff4d, 1300px 1682px #ffffff4d,
    1987px 533px #ffffff4d, 1537px 1302px #ffffff4d, 937px 810px #ffffff4d,
    943px 1489px #ffffff4d, 1699px 1589px #ffffff4d, 1158px 807px #ffffff4d,
    1355px 1483px #ffffff4d, 660px 1626px #ffffff4d, 1151px 296px #ffffff4d,
    332px 1748px #ffffff4d, 1656px 45px #ffffff4d, 1720px 521px #ffffff4d,
    1654px 561px #ffffff4d, 1466px 984px #ffffff4d, 317px 1729px #ffffff4d,
    1719px 464px #ffffff4d, 680px 1108px #ffffff4d, 1724px 608px #ffffff4d;
  z-index: -100;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 514px 1768px #ffffff4d, 969px 543px #ffffff4d,
    1577px 257px #ffffff4d, 448px 664px #ffffff4d, 13px 688px #ffffff4d,
    1989px 84px #ffffff4d, 1419px 959px #ffffff4d, 1346px 1964px #ffffff4d,
    43px 158px #ffffff4d, 384px 729px #ffffff4d, 1340px 1069px #ffffff4d,
    447px 1885px #ffffff4d, 637px 1704px #ffffff4d, 420px 1387px #ffffff4d,
    1415px 1072px #ffffff4d, 1554px 1801px #ffffff4d, 1931px 1508px #ffffff4d,
    61px 1020px #ffffff4d, 988px 651px #ffffff4d, 325px 832px #ffffff4d,
    1993px 837px #ffffff4d, 1114px 347px #ffffff4d, 102px 1884px #ffffff4d,
    1686px 887px #ffffff4d, 691px 1994px #ffffff4d, 1054px 705px #ffffff4d,
    1202px 1533px #ffffff4d, 883px 853px #ffffff4d, 532px 846px #ffffff4d,
    1046px 1485px #ffffff4d, 1090px 981px #ffffff4d, 61px 207px #ffffff4d,
    1562px 1392px #ffffff4d, 771px 823px #ffffff4d, 1711px 1593px #ffffff4d,
    1352px 951px #ffffff4d, 594px 1504px #ffffff4d, 829px 1442px #ffffff4d,
    160px 1929px #ffffff4d, 236px 1591px #ffffff4d, 823px 1439px #ffffff4d,
    1421px 120px #ffffff4d, 142px 1250px #ffffff4d, 1176px 1718px #ffffff4d,
    411px 1999px #ffffff4d, 951px 1870px #ffffff4d, 1210px 1942px #ffffff4d,
    1501px 1445px #ffffff4d, 924px 48px #ffffff4d, 1628px 584px #ffffff4d,
    862px 8px #ffffff4d, 1261px 720px #ffffff4d, 921px 888px #ffffff4d,
    588px 104px #ffffff4d, 640px 474px #ffffff4d, 994px 1738px #ffffff4d,
    314px 1349px #ffffff4d, 1549px 848px #ffffff4d, 1747px 1668px #ffffff4d,
    1036px 1932px #ffffff4d, 1269px 1754px #ffffff4d, 465px 1410px #ffffff4d,
    1571px 1222px #ffffff4d, 395px 1981px #ffffff4d, 1076px 283px #ffffff4d,
    681px 1932px #ffffff4d, 405px 1369px #ffffff4d, 32px 1202px #ffffff4d,
    864px 1029px #ffffff4d, 1054px 1188px #ffffff4d, 1941px 1449px #ffffff4d,
    1676px 693px #ffffff4d, 1096px 261px #ffffff4d, 1133px 688px #ffffff4d,
    59px 1803px #ffffff4d, 1041px 104px #ffffff4d, 752px 1845px #ffffff4d,
    1256px 1552px #ffffff4d, 606px 302px #ffffff4d, 1369px 1420px #ffffff4d,
    694px 990px #ffffff4d, 1375px 927px #ffffff4d, 795px 316px #ffffff4d,
    63px 416px #ffffff4d, 765px 356px #ffffff4d, 1223px 533px #ffffff4d,
    1219px 1992px #ffffff4d, 721px 92px #ffffff4d, 1985px 1221px #ffffff4d,
    43px 1310px #ffffff4d, 962px 765px #ffffff4d, 635px 1117px #ffffff4d,
    1875px 1990px #ffffff4d, 554px 1813px #ffffff4d, 478px 1054px #ffffff4d,
    706px 858px #ffffff4d, 1423px 1335px #ffffff4d, 1107px 1320px #ffffff4d,
    1572px 83px #ffffff4d, 1329px 1337px #ffffff4d;
  z-index: -100;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 514px 1768px #ffffff4d, 969px 543px #ffffff4d,
    1577px 257px #ffffff4d, 448px 664px #ffffff4d, 13px 688px #ffffff4d,
    1989px 84px #ffffff4d, 1419px 959px #ffffff4d, 1346px 1964px #ffffff4d,
    43px 158px #ffffff4d, 384px 729px #ffffff4d, 1340px 1069px #ffffff4d,
    447px 1885px #ffffff4d, 637px 1704px #ffffff4d, 420px 1387px #ffffff4d,
    1415px 1072px #ffffff4d, 1554px 1801px #ffffff4d, 1931px 1508px #ffffff4d,
    61px 1020px #ffffff4d, 988px 651px #ffffff4d, 325px 832px #ffffff4d,
    1993px 837px #ffffff4d, 1114px 347px #ffffff4d, 102px 1884px #ffffff4d,
    1686px 887px #ffffff4d, 691px 1994px #ffffff4d, 1054px 705px #ffffff4d,
    1202px 1533px #ffffff4d, 883px 853px #ffffff4d, 532px 846px #ffffff4d,
    1046px 1485px #ffffff4d, 1090px 981px #ffffff4d, 61px 207px #ffffff4d,
    1562px 1392px #ffffff4d, 771px 823px #ffffff4d, 1711px 1593px #ffffff4d,
    1352px 951px #ffffff4d, 594px 1504px #ffffff4d, 829px 1442px #ffffff4d,
    160px 1929px #ffffff4d, 236px 1591px #ffffff4d, 823px 1439px #ffffff4d,
    1421px 120px #ffffff4d, 142px 1250px #ffffff4d, 1176px 1718px #ffffff4d,
    411px 1999px #ffffff4d, 951px 1870px #ffffff4d, 1210px 1942px #ffffff4d,
    1501px 1445px #ffffff4d, 924px 48px #ffffff4d, 1628px 584px #ffffff4d,
    862px 8px #ffffff4d, 1261px 720px #ffffff4d, 921px 888px #ffffff4d,
    588px 104px #ffffff4d, 640px 474px #ffffff4d, 994px 1738px #ffffff4d,
    314px 1349px #ffffff4d, 1549px 848px #ffffff4d, 1747px 1668px #ffffff4d,
    1036px 1932px #ffffff4d, 1269px 1754px #ffffff4d, 465px 1410px #ffffff4d,
    1571px 1222px #ffffff4d, 395px 1981px #ffffff4d, 1076px 283px #ffffff4d,
    681px 1932px #ffffff4d, 405px 1369px #ffffff4d, 32px 1202px #ffffff4d,
    864px 1029px #ffffff4d, 1054px 1188px #ffffff4d, 1941px 1449px #ffffff4d,
    1676px 693px #ffffff4d, 1096px 261px #ffffff4d, 1133px 688px #ffffff4d,
    59px 1803px #ffffff4d, 1041px 104px #ffffff4d, 752px 1845px #ffffff4d,
    1256px 1552px #ffffff4d, 606px 302px #ffffff4d, 1369px 1420px #ffffff4d,
    694px 990px #ffffff4d, 1375px 927px #ffffff4d, 795px 316px #ffffff4d,
    63px 416px #ffffff4d, 765px 356px #ffffff4d, 1223px 533px #ffffff4d,
    1219px 1992px #ffffff4d, 721px 92px #ffffff4d, 1985px 1221px #ffffff4d,
    43px 1310px #ffffff4d, 962px 765px #ffffff4d, 635px 1117px #ffffff4d,
    1875px 1990px #ffffff4d, 554px 1813px #ffffff4d, 478px 1054px #ffffff4d,
    706px 858px #ffffff4d, 1423px 1335px #ffffff4d, 1107px 1320px #ffffff4d,
    1572px 83px #ffffff4d, 1329px 1337px #ffffff4d;
  z-index: -100;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
