#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 240px 542px #fffafa33, 615px 221px #fffafa33,
    811px 908px #fffafa33, 1126px 192px #fffafa33, 1199px 829px #fffafa33,
    26px 220px #fffafa33, 414px 857px #fffafa33, 990px 943px #fffafa33,
    132px 813px #fffafa33, 1704px 824px #fffafa33, 591px 876px #fffafa33,
    1457px 615px #fffafa33, 1805px 310px #fffafa33, 589px 708px #fffafa33,
    1772px 395px #fffafa33, 771px 175px #fffafa33, 30px 668px #fffafa33,
    235px 148px #fffafa33, 416px 19px #fffafa33, 992px 743px #fffafa33,
    1752px 246px #fffafa33, 1969px 261px #fffafa33, 842px 762px #fffafa33,
    1859px 447px #fffafa33, 1104px 998px #fffafa33, 924px 514px #fffafa33,
    1063px 798px #fffafa33, 714px 405px #fffafa33, 268px 993px #fffafa33,
    5px 453px #fffafa33, 49px 540px #fffafa33, 997px 1px #fffafa33,
    1670px 3px #fffafa33, 146px 773px #fffafa33, 576px 341px #fffafa33,
    1383px 677px #fffafa33, 1574px 864px #fffafa33, 1207px 504px #fffafa33,
    1749px 8px #fffafa33, 942px 385px #fffafa33, 1997px 243px #fffafa33,
    1513px 161px #fffafa33, 1505px 418px #fffafa33, 1569px 12px #fffafa33,
    1247px 554px #fffafa33, 180px 741px #fffafa33, 1953px 292px #fffafa33,
    901px 163px #fffafa33, 1523px 965px #fffafa33, 321px 489px #fffafa33,
    629px 452px #fffafa33, 1899px 244px #fffafa33, 1281px 553px #fffafa33,
    858px 429px #fffafa33, 616px 949px #fffafa33, 699px 527px #fffafa33,
    1342px 920px #fffafa33, 1728px 986px #fffafa33, 1165px 666px #fffafa33,
    1787px 577px #fffafa33, 1838px 437px #fffafa33, 1498px 316px #fffafa33,
    1233px 560px #fffafa33, 1645px 959px #fffafa33, 470px 372px #fffafa33,
    533px 759px #fffafa33, 207px 342px #fffafa33, 1979px 670px #fffafa33,
    1810px 107px #fffafa33, 288px 148px #fffafa33, 585px 17px #fffafa33,
    824px 396px #fffafa33, 1433px 977px #fffafa33, 1696px 658px #fffafa33,
    593px 926px #fffafa33, 247px 534px #fffafa33, 1247px 536px #fffafa33,
    858px 941px #fffafa33, 1316px 472px #fffafa33, 110px 623px #fffafa33,
    1373px 941px #fffafa33, 1962px 42px #fffafa33, 640px 935px #fffafa33,
    357px 849px #fffafa33, 1872px 920px #fffafa33, 460px 182px #fffafa33,
    1476px 680px #fffafa33, 1651px 694px #fffafa33, 1744px 946px #fffafa33,
    613px 37px #fffafa33, 1313px 805px #fffafa33, 683px 215px #fffafa33,
    1683px 359px #fffafa33, 164px 207px #fffafa33, 1975px 549px #fffafa33,
    1917px 6px #fffafa33, 794px 661px #fffafa33, 1527px 917px #fffafa33,
    1234px 576px #fffafa33, 235px 212px #fffafa33, 321px 953px #fffafa33,
    1932px 761px #fffafa33, 1983px 214px #fffafa33, 862px 576px #fffafa33,
    1426px 485px #fffafa33, 238px 779px #fffafa33, 600px 112px #fffafa33,
    1449px 206px #fffafa33, 1801px 983px #fffafa33, 1616px 317px #fffafa33,
    1228px 420px #fffafa33, 554px 766px #fffafa33, 819px 411px #fffafa33,
    891px 27px #fffafa33, 1885px 768px #fffafa33, 1492px 493px #fffafa33,
    901px 359px #fffafa33, 168px 868px #fffafa33, 1747px 305px #fffafa33,
    1511px 288px #fffafa33, 462px 883px #fffafa33, 1296px 262px #fffafa33,
    1080px 333px #fffafa33, 940px 89px #fffafa33, 1197px 308px #fffafa33,
    1986px 768px #fffafa33, 1177px 101px #fffafa33, 39px 708px #fffafa33,
    1715px 575px #fffafa33, 744px 414px #fffafa33, 1424px 584px #fffafa33,
    228px 157px #fffafa33, 318px 875px #fffafa33, 1746px 420px #fffafa33,
    1129px 755px #fffafa33, 341px 751px #fffafa33, 120px 110px #fffafa33,
    715px 750px #fffafa33, 257px 624px #fffafa33, 1645px 230px #fffafa33,
    686px 154px #fffafa33, 168px 898px #fffafa33, 883px 376px #fffafa33,
    427px 813px #fffafa33, 1316px 302px #fffafa33, 1506px 805px #fffafa33,
    198px 690px #fffafa33, 29px 857px #fffafa33, 1103px 938px #fffafa33,
    1801px 299px #fffafa33, 297px 800px #fffafa33, 1676px 83px #fffafa33,
    1789px 73px #fffafa33, 1767px 159px #fffafa33, 862px 468px #fffafa33,
    1571px 952px #fffafa33, 831px 3px #fffafa33, 92px 714px #fffafa33,
    282px 155px #fffafa33, 303px 288px #fffafa33, 926px 360px #fffafa33,
    859px 848px #fffafa33, 500px 519px #fffafa33, 199px 279px #fffafa33,
    137px 660px #fffafa33, 1658px 210px #fffafa33, 903px 223px #fffafa33,
    322px 143px #fffafa33, 1505px 503px #fffafa33, 1524px 329px #fffafa33,
    505px 674px #fffafa33, 1610px 797px #fffafa33, 1109px 431px #fffafa33,
    338px 93px #fffafa33, 1466px 689px #fffafa33, 358px 853px #fffafa33,
    275px 953px #fffafa33, 684px 260px #fffafa33, 82px 447px #fffafa33,
    1280px 286px #fffafa33, 1345px 346px #fffafa33, 1916px 345px #fffafa33,
    914px 331px #fffafa33, 623px 862px #fffafa33, 944px 383px #fffafa33,
    1926px 589px #fffafa33, 568px 416px #fffafa33, 804px 855px #fffafa33,
    1864px 746px #fffafa33, 1629px 328px #fffafa33, 1739px 375px #fffafa33,
    1172px 500px #fffafa33, 289px 335px #fffafa33, 169px 977px #fffafa33,
    1642px 482px #fffafa33, 916px 568px #fffafa33, 134px 194px #fffafa33,
    947px 220px #fffafa33, 1095px 893px #fffafa33, 1863px 472px #fffafa33,
    1765px 450px #fffafa33, 612px 410px #fffafa33, 252px 599px #fffafa33,
    886px 224px #fffafa33, 1381px 39px #fffafa33, 1370px 102px #fffafa33,
    784px 456px #fffafa33, 1022px 626px #fffafa33, 1251px 674px #fffafa33,
    793px 180px #fffafa33, 1100px 428px #fffafa33, 454px 669px #fffafa33,
    154px 767px #fffafa33, 1481px 862px #fffafa33, 198px 520px #fffafa33,
    794px 853px #fffafa33, 958px 697px #fffafa33, 766px 464px #fffafa33,
    1678px 42px #fffafa33, 1635px 641px #fffafa33, 1202px 14px #fffafa33,
    1349px 962px #fffafa33, 597px 928px #fffafa33, 1478px 212px #fffafa33,
    476px 896px #fffafa33, 1058px 719px #fffafa33, 525px 424px #fffafa33,
    878px 421px #fffafa33, 498px 858px #fffafa33, 93px 824px #fffafa33,
    294px 5px #fffafa33, 790px 632px #fffafa33, 181px 487px #fffafa33,
    531px 671px #fffafa33, 1563px 519px #fffafa33, 989px 594px #fffafa33,
    1241px 888px #fffafa33, 26px 886px #fffafa33, 1536px 57px #fffafa33,
    146px 171px #fffafa33, 397px 380px #fffafa33, 746px 300px #fffafa33,
    1953px 814px #fffafa33, 857px 551px #fffafa33, 1024px 142px #fffafa33,
    1377px 603px #fffafa33, 1858px 275px #fffafa33, 1330px 685px #fffafa33,
    442px 868px #fffafa33, 1287px 828px #fffafa33, 1796px 167px #fffafa33,
    1538px 233px #fffafa33, 804px 958px #fffafa33, 951px 794px #fffafa33,
    1575px 492px #fffafa33, 1392px 694px #fffafa33, 516px 568px #fffafa33,
    951px 738px #fffafa33, 1751px 949px #fffafa33, 1251px 686px #fffafa33,
    1953px 699px #fffafa33, 694px 556px #fffafa33, 397px 529px #fffafa33,
    1282px 862px #fffafa33, 22px 874px #fffafa33, 470px 32px #fffafa33,
    1134px 922px #fffafa33, 1171px 160px #fffafa33, 756px 491px #fffafa33,
    1236px 118px #fffafa33, 1449px 282px #fffafa33, 1140px 981px #fffafa33,
    1860px 369px #fffafa33, 91px 759px #fffafa33, 1981px 848px #fffafa33,
    1521px 67px #fffafa33, 1975px 141px #fffafa33, 1952px 6px #fffafa33,
    1491px 733px #fffafa33, 1156px 306px #fffafa33, 117px 153px #fffafa33,
    287px 946px #fffafa33, 1380px 523px #fffafa33, 1873px 213px #fffafa33,
    260px 303px #fffafa33, 382px 544px #fffafa33, 1445px 125px #fffafa33,
    175px 919px #fffafa33, 878px 265px #fffafa33, 521px 571px #fffafa33,
    1968px 253px #fffafa33, 1090px 37px #fffafa33, 1871px 842px #fffafa33,
    1114px 590px #fffafa33, 88px 141px #fffafa33, 1241px 887px #fffafa33,
    1387px 989px #fffafa33, 1958px 88px #fffafa33, 722px 515px #fffafa33,
    1731px 145px #fffafa33, 85px 557px #fffafa33, 1172px 458px #fffafa33,
    1273px 376px #fffafa33, 1355px 402px #fffafa33, 1807px 387px #fffafa33,
    1597px 60px #fffafa33, 123px 857px #fffafa33, 1934px 210px #fffafa33,
    557px 241px #fffafa33, 1773px 989px #fffafa33, 1940px 497px #fffafa33,
    1444px 861px #fffafa33, 469px 78px #fffafa33, 134px 617px #fffafa33,
    1838px 880px #fffafa33, 1562px 354px #fffafa33, 760px 293px #fffafa33,
    1067px 809px #fffafa33, 1473px 104px #fffafa33, 891px 296px #fffafa33,
    254px 61px #fffafa33, 131px 386px #fffafa33, 1661px 373px #fffafa33,
    943px 127px #fffafa33, 438px 663px #fffafa33, 1441px 85px #fffafa33,
    1097px 823px #fffafa33, 99px 945px #fffafa33, 42px 114px #fffafa33,
    672px 862px #fffafa33, 644px 303px #fffafa33, 657px 717px #fffafa33,
    801px 292px #fffafa33, 1112px 799px #fffafa33, 1492px 983px #fffafa33,
    293px 159px #fffafa33, 1338px 543px #fffafa33, 156px 602px #fffafa33,
    263px 740px #fffafa33, 947px 912px #fffafa33, 643px 701px #fffafa33,
    1298px 465px #fffafa33, 1120px 122px #fffafa33, 204px 554px #fffafa33,
    121px 387px #fffafa33, 573px 427px #fffafa33, 1416px 355px #fffafa33,
    79px 523px #fffafa33, 559px 38px #fffafa33, 1468px 393px #fffafa33,
    1787px 35px #fffafa33, 753px 861px #fffafa33, 406px 80px #fffafa33,
    1441px 270px #fffafa33, 1023px 628px #fffafa33, 506px 811px #fffafa33,
    547px 676px #fffafa33, 1216px 629px #fffafa33, 931px 47px #fffafa33,
    1540px 399px #fffafa33, 823px 449px #fffafa33, 1016px 744px #fffafa33,
    1439px 577px #fffafa33, 428px 918px #fffafa33, 1998px 439px #fffafa33,
    1761px 382px #fffafa33, 28px 929px #fffafa33, 428px 759px #fffafa33,
    1507px 670px #fffafa33, 1016px 987px #fffafa33, 718px 742px #fffafa33,
    439px 977px #fffafa33, 679px 361px #fffafa33, 245px 536px #fffafa33,
    505px 223px #fffafa33, 1829px 553px #fffafa33, 1010px 235px #fffafa33,
    1882px 990px #fffafa33, 541px 137px #fffafa33, 652px 421px #fffafa33,
    1562px 286px #fffafa33, 1425px 300px #fffafa33, 670px 197px #fffafa33,
    1420px 105px #fffafa33, 1725px 143px #fffafa33, 672px 154px #fffafa33,
    1007px 663px #fffafa33, 1521px 457px #fffafa33, 549px 54px #fffafa33,
    138px 168px #fffafa33, 300px 517px #fffafa33, 1498px 193px #fffafa33,
    1201px 880px #fffafa33, 1466px 146px #fffafa33, 898px 678px #fffafa33,
    1430px 315px #fffafa33, 376px 508px #fffafa33, 1216px 601px #fffafa33,
    734px 381px #fffafa33, 1233px 464px #fffafa33, 449px 802px #fffafa33,
    863px 399px #fffafa33, 301px 714px #fffafa33, 1690px 484px #fffafa33,
    1387px 347px #fffafa33, 1122px 728px #fffafa33, 143px 66px #fffafa33,
    976px 338px #fffafa33, 586px 909px #fffafa33, 884px 362px #fffafa33,
    1775px 396px #fffafa33, 305px 849px #fffafa33, 461px 194px #fffafa33,
    639px 782px #fffafa33, 1615px 441px #fffafa33, 189px 696px #fffafa33,
    1003px 424px #fffafa33, 857px 812px #fffafa33, 300px 690px #fffafa33,
    404px 102px #fffafa33, 374px 647px #fffafa33, 509px 104px #fffafa33,
    129px 971px #fffafa33, 1327px 626px #fffafa33, 1300px 454px #fffafa33,
    1174px 126px #fffafa33, 807px 166px #fffafa33, 1395px 749px #fffafa33,
    614px 722px #fffafa33, 370px 391px #fffafa33, 1471px 130px #fffafa33,
    721px 838px #fffafa33, 157px 840px #fffafa33, 1608px 723px #fffafa33,
    1950px 437px #fffafa33, 1505px 663px #fffafa33, 830px 175px #fffafa33,
    1562px 196px #fffafa33, 1028px 355px #fffafa33, 718px 536px #fffafa33,
    612px 352px #fffafa33, 586px 167px #fffafa33, 818px 962px #fffafa33,
    1121px 999px #fffafa33, 1521px 188px #fffafa33, 698px 431px #fffafa33,
    1699px 840px #fffafa33, 176px 35px #fffafa33, 1810px 494px #fffafa33,
    94px 973px #fffafa33, 727px 717px #fffafa33, 1464px 201px #fffafa33,
    374px 461px #fffafa33, 256px 721px #fffafa33, 1009px 728px #fffafa33,
    536px 614px #fffafa33, 666px 843px #fffafa33, 1382px 696px #fffafa33,
    1621px 849px #fffafa33, 512px 360px #fffafa33, 422px 798px #fffafa33,
    1092px 115px #fffafa33, 436px 278px #fffafa33, 968px 134px #fffafa33,
    437px 684px #fffafa33, 1308px 737px #fffafa33, 1000px 544px #fffafa33,
    440px 147px #fffafa33, 1717px 314px #fffafa33, 240px 731px #fffafa33,
    1114px 552px #fffafa33, 495px 44px #fffafa33, 902px 324px #fffafa33,
    340px 947px #fffafa33, 493px 113px #fffafa33, 1194px 799px #fffafa33,
    1508px 519px #fffafa33, 1593px 682px #fffafa33, 1084px 322px #fffafa33,
    1950px 732px #fffafa33, 1213px 407px #fffafa33, 1945px 316px #fffafa33,
    65px 243px #fffafa33, 1438px 15px #fffafa33, 1637px 599px #fffafa33,
    1612px 526px #fffafa33, 1663px 869px #fffafa33, 1161px 705px #fffafa33,
    817px 168px #fffafa33, 1072px 474px #fffafa33, 956px 410px #fffafa33,
    1022px 644px #fffafa33, 893px 550px #fffafa33, 1840px 569px #fffafa33,
    1353px 941px #fffafa33, 1253px 426px #fffafa33, 1987px 564px #fffafa33,
    1479px 221px #fffafa33, 373px 733px #fffafa33, 1399px 526px #fffafa33,
    979px 749px #fffafa33, 925px 966px #fffafa33, 1621px 112px #fffafa33,
    717px 116px #fffafa33, 221px 9px #fffafa33, 998px 314px #fffafa33,
    354px 540px #fffafa33, 337px 690px #fffafa33, 638px 278px #fffafa33,
    597px 225px #fffafa33, 182px 642px #fffafa33, 1939px 938px #fffafa33,
    161px 488px #fffafa33, 759px 537px #fffafa33, 276px 211px #fffafa33,
    1412px 505px #fffafa33, 1721px 726px #fffafa33, 1975px 114px #fffafa33,
    1674px 999px #fffafa33, 97px 515px #fffafa33, 258px 727px #fffafa33,
    956px 436px #fffafa33, 43px 776px #fffafa33, 54px 703px #fffafa33,
    626px 806px #fffafa33, 235px 292px #fffafa33, 463px 120px #fffafa33,
    993px 112px #fffafa33, 1281px 86px #fffafa33, 563px 794px #fffafa33,
    1459px 224px #fffafa33, 1358px 543px #fffafa33, 1495px 33px #fffafa33,
    1852px 427px #fffafa33, 210px 950px #fffafa33, 1719px 994px #fffafa33,
    953px 968px #fffafa33, 35px 84px #fffafa33, 902px 21px #fffafa33,
    1810px 23px #fffafa33, 641px 930px #fffafa33, 591px 311px #fffafa33,
    1231px 873px #fffafa33, 570px 157px #fffafa33, 268px 167px #fffafa33,
    1178px 235px #fffafa33, 537px 730px #fffafa33, 1076px 905px #fffafa33,
    740px 666px #fffafa33, 877px 924px #fffafa33, 251px 720px #fffafa33,
    658px 896px #fffafa33, 805px 593px #fffafa33, 1044px 922px #fffafa33,
    1222px 187px #fffafa33, 1751px 646px #fffafa33, 433px 521px #fffafa33,
    1505px 134px #fffafa33, 187px 66px #fffafa33, 1862px 935px #fffafa33,
    428px 716px #fffafa33, 862px 39px #fffafa33, 307px 503px #fffafa33,
    1288px 384px #fffafa33, 40px 522px #fffafa33, 531px 917px #fffafa33,
    1413px 913px #fffafa33, 1683px 669px #fffafa33, 1773px 253px #fffafa33,
    221px 506px #fffafa33, 591px 325px #fffafa33, 1178px 895px #fffafa33,
    1760px 322px #fffafa33, 895px 133px #fffafa33, 528px 741px #fffafa33,
    791px 162px #fffafa33, 759px 226px #fffafa33, 1781px 908px #fffafa33,
    1116px 438px #fffafa33, 1499px 867px #fffafa33, 1688px 105px #fffafa33,
    1246px 243px #fffafa33, 196px 697px #fffafa33, 1444px 235px #fffafa33,
    1741px 83px #fffafa33, 331px 405px #fffafa33, 1490px 309px #fffafa33,
    74px 429px #fffafa33, 820px 410px #fffafa33, 1478px 780px #fffafa33,
    59px 780px #fffafa33, 1554px 825px #fffafa33, 1164px 372px #fffafa33,
    447px 987px #fffafa33, 568px 401px #fffafa33, 297px 58px #fffafa33,
    726px 536px #fffafa33, 188px 924px #fffafa33, 945px 643px #fffafa33,
    1672px 354px #fffafa33, 1435px 557px #fffafa33, 474px 640px #fffafa33,
    369px 950px #fffafa33, 260px 705px #fffafa33, 1496px 102px #fffafa33,
    800px 20px #fffafa33, 230px 279px #fffafa33, 1321px 351px #fffafa33,
    782px 830px #fffafa33, 509px 958px #fffafa33, 626px 137px #fffafa33,
    1920px 32px #fffafa33, 417px 343px #fffafa33, 810px 221px #fffafa33,
    1611px 378px #fffafa33, 744px 515px #fffafa33, 693px 902px #fffafa33,
    1592px 658px #fffafa33, 743px 279px #fffafa33, 1772px 422px #fffafa33,
    1021px 457px #fffafa33, 383px 641px #fffafa33, 333px 227px #fffafa33,
    46px 769px #fffafa33, 696px 769px #fffafa33, 1607px 475px #fffafa33,
    437px 631px #fffafa33, 1290px 887px #fffafa33, 1213px 441px #fffafa33,
    1540px 809px #fffafa33, 1810px 324px #fffafa33, 1364px 993px #fffafa33,
    1181px 863px #fffafa33, 1022px 189px #fffafa33, 875px 227px #fffafa33,
    1672px 328px #fffafa33, 1824px 335px #fffafa33, 1545px 919px #fffafa33,
    834px 793px #fffafa33, 251px 512px #fffafa33, 742px 116px #fffafa33,
    1629px 190px #fffafa33, 938px 652px #fffafa33, 1508px 394px #fffafa33,
    1240px 607px #fffafa33, 74px 125px #fffafa33, 1428px 576px #fffafa33,
    974px 269px #fffafa33, 1323px 795px #fffafa33, 73px 511px #fffafa33,
    1787px 427px #fffafa33, 1752px 144px #fffafa33, 1938px 213px #fffafa33,
    1272px 965px #fffafa33, 925px 909px #fffafa33, 938px 103px #fffafa33,
    1277px 745px #fffafa33, 729px 891px #fffafa33, 178px 363px #fffafa33,
    1395px 56px #fffafa33, 621px 922px #fffafa33, 1838px 947px #fffafa33,
    860px 564px #fffafa33, 1868px 648px #fffafa33, 1175px 130px #fffafa33,
    1418px 897px #fffafa33, 1752px 219px #fffafa33, 1116px 155px #fffafa33,
    1168px 141px #fffafa33, 964px 482px #fffafa33, 1014px 500px #fffafa33,
    1423px 363px #fffafa33, 684px 911px #fffafa33, 1089px 7px #fffafa33,
    714px 152px #fffafa33, 1322px 256px #fffafa33, 1240px 457px #fffafa33,
    1454px 756px #fffafa33, 922px 569px #fffafa33, 1624px 829px #fffafa33,
    1575px 494px #fffafa33, 50px 361px #fffafa33, 1047px 361px #fffafa33,
    663px 32px #fffafa33, 767px 882px #fffafa33, 917px 713px #fffafa33,
    1097px 662px #fffafa33, 79px 80px #fffafa33, 583px 356px #fffafa33,
    671px 589px #fffafa33, 1380px 810px #fffafa33, 897px 710px #fffafa33,
    1158px 913px #fffafa33, 909px 390px #fffafa33, 1904px 645px #fffafa33,
    510px 415px #fffafa33, 1484px 803px #fffafa33, 1793px 448px #fffafa33,
    782px 274px #fffafa33, 1965px 128px #fffafa33;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 240px 542px #fffafa33, 615px 221px #fffafa33,
    811px 908px #fffafa33, 1126px 192px #fffafa33, 1199px 829px #fffafa33,
    26px 220px #fffafa33, 414px 857px #fffafa33, 990px 943px #fffafa33,
    132px 813px #fffafa33, 1704px 824px #fffafa33, 591px 876px #fffafa33,
    1457px 615px #fffafa33, 1805px 310px #fffafa33, 589px 708px #fffafa33,
    1772px 395px #fffafa33, 771px 175px #fffafa33, 30px 668px #fffafa33,
    235px 148px #fffafa33, 416px 19px #fffafa33, 992px 743px #fffafa33,
    1752px 246px #fffafa33, 1969px 261px #fffafa33, 842px 762px #fffafa33,
    1859px 447px #fffafa33, 1104px 998px #fffafa33, 924px 514px #fffafa33,
    1063px 798px #fffafa33, 714px 405px #fffafa33, 268px 993px #fffafa33,
    5px 453px #fffafa33, 49px 540px #fffafa33, 997px 1px #fffafa33,
    1670px 3px #fffafa33, 146px 773px #fffafa33, 576px 341px #fffafa33,
    1383px 677px #fffafa33, 1574px 864px #fffafa33, 1207px 504px #fffafa33,
    1749px 8px #fffafa33, 942px 385px #fffafa33, 1997px 243px #fffafa33,
    1513px 161px #fffafa33, 1505px 418px #fffafa33, 1569px 12px #fffafa33,
    1247px 554px #fffafa33, 180px 741px #fffafa33, 1953px 292px #fffafa33,
    901px 163px #fffafa33, 1523px 965px #fffafa33, 321px 489px #fffafa33,
    629px 452px #fffafa33, 1899px 244px #fffafa33, 1281px 553px #fffafa33,
    858px 429px #fffafa33, 616px 949px #fffafa33, 699px 527px #fffafa33,
    1342px 920px #fffafa33, 1728px 986px #fffafa33, 1165px 666px #fffafa33,
    1787px 577px #fffafa33, 1838px 437px #fffafa33, 1498px 316px #fffafa33,
    1233px 560px #fffafa33, 1645px 959px #fffafa33, 470px 372px #fffafa33,
    533px 759px #fffafa33, 207px 342px #fffafa33, 1979px 670px #fffafa33,
    1810px 107px #fffafa33, 288px 148px #fffafa33, 585px 17px #fffafa33,
    824px 396px #fffafa33, 1433px 977px #fffafa33, 1696px 658px #fffafa33,
    593px 926px #fffafa33, 247px 534px #fffafa33, 1247px 536px #fffafa33,
    858px 941px #fffafa33, 1316px 472px #fffafa33, 110px 623px #fffafa33,
    1373px 941px #fffafa33, 1962px 42px #fffafa33, 640px 935px #fffafa33,
    357px 849px #fffafa33, 1872px 920px #fffafa33, 460px 182px #fffafa33,
    1476px 680px #fffafa33, 1651px 694px #fffafa33, 1744px 946px #fffafa33,
    613px 37px #fffafa33, 1313px 805px #fffafa33, 683px 215px #fffafa33,
    1683px 359px #fffafa33, 164px 207px #fffafa33, 1975px 549px #fffafa33,
    1917px 6px #fffafa33, 794px 661px #fffafa33, 1527px 917px #fffafa33,
    1234px 576px #fffafa33, 235px 212px #fffafa33, 321px 953px #fffafa33,
    1932px 761px #fffafa33, 1983px 214px #fffafa33, 862px 576px #fffafa33,
    1426px 485px #fffafa33, 238px 779px #fffafa33, 600px 112px #fffafa33,
    1449px 206px #fffafa33, 1801px 983px #fffafa33, 1616px 317px #fffafa33,
    1228px 420px #fffafa33, 554px 766px #fffafa33, 819px 411px #fffafa33,
    891px 27px #fffafa33, 1885px 768px #fffafa33, 1492px 493px #fffafa33,
    901px 359px #fffafa33, 168px 868px #fffafa33, 1747px 305px #fffafa33,
    1511px 288px #fffafa33, 462px 883px #fffafa33, 1296px 262px #fffafa33,
    1080px 333px #fffafa33, 940px 89px #fffafa33, 1197px 308px #fffafa33,
    1986px 768px #fffafa33, 1177px 101px #fffafa33, 39px 708px #fffafa33,
    1715px 575px #fffafa33, 744px 414px #fffafa33, 1424px 584px #fffafa33,
    228px 157px #fffafa33, 318px 875px #fffafa33, 1746px 420px #fffafa33,
    1129px 755px #fffafa33, 341px 751px #fffafa33, 120px 110px #fffafa33,
    715px 750px #fffafa33, 257px 624px #fffafa33, 1645px 230px #fffafa33,
    686px 154px #fffafa33, 168px 898px #fffafa33, 883px 376px #fffafa33,
    427px 813px #fffafa33, 1316px 302px #fffafa33, 1506px 805px #fffafa33,
    198px 690px #fffafa33, 29px 857px #fffafa33, 1103px 938px #fffafa33,
    1801px 299px #fffafa33, 297px 800px #fffafa33, 1676px 83px #fffafa33,
    1789px 73px #fffafa33, 1767px 159px #fffafa33, 862px 468px #fffafa33,
    1571px 952px #fffafa33, 831px 3px #fffafa33, 92px 714px #fffafa33,
    282px 155px #fffafa33, 303px 288px #fffafa33, 926px 360px #fffafa33,
    859px 848px #fffafa33, 500px 519px #fffafa33, 199px 279px #fffafa33,
    137px 660px #fffafa33, 1658px 210px #fffafa33, 903px 223px #fffafa33,
    322px 143px #fffafa33, 1505px 503px #fffafa33, 1524px 329px #fffafa33,
    505px 674px #fffafa33, 1610px 797px #fffafa33, 1109px 431px #fffafa33,
    338px 93px #fffafa33, 1466px 689px #fffafa33, 358px 853px #fffafa33,
    275px 953px #fffafa33, 684px 260px #fffafa33, 82px 447px #fffafa33,
    1280px 286px #fffafa33, 1345px 346px #fffafa33, 1916px 345px #fffafa33,
    914px 331px #fffafa33, 623px 862px #fffafa33, 944px 383px #fffafa33,
    1926px 589px #fffafa33, 568px 416px #fffafa33, 804px 855px #fffafa33,
    1864px 746px #fffafa33, 1629px 328px #fffafa33, 1739px 375px #fffafa33,
    1172px 500px #fffafa33, 289px 335px #fffafa33, 169px 977px #fffafa33,
    1642px 482px #fffafa33, 916px 568px #fffafa33, 134px 194px #fffafa33,
    947px 220px #fffafa33, 1095px 893px #fffafa33, 1863px 472px #fffafa33,
    1765px 450px #fffafa33, 612px 410px #fffafa33, 252px 599px #fffafa33,
    886px 224px #fffafa33, 1381px 39px #fffafa33, 1370px 102px #fffafa33,
    784px 456px #fffafa33, 1022px 626px #fffafa33, 1251px 674px #fffafa33,
    793px 180px #fffafa33, 1100px 428px #fffafa33, 454px 669px #fffafa33,
    154px 767px #fffafa33, 1481px 862px #fffafa33, 198px 520px #fffafa33,
    794px 853px #fffafa33, 958px 697px #fffafa33, 766px 464px #fffafa33,
    1678px 42px #fffafa33, 1635px 641px #fffafa33, 1202px 14px #fffafa33,
    1349px 962px #fffafa33, 597px 928px #fffafa33, 1478px 212px #fffafa33,
    476px 896px #fffafa33, 1058px 719px #fffafa33, 525px 424px #fffafa33,
    878px 421px #fffafa33, 498px 858px #fffafa33, 93px 824px #fffafa33,
    294px 5px #fffafa33, 790px 632px #fffafa33, 181px 487px #fffafa33,
    531px 671px #fffafa33, 1563px 519px #fffafa33, 989px 594px #fffafa33,
    1241px 888px #fffafa33, 26px 886px #fffafa33, 1536px 57px #fffafa33,
    146px 171px #fffafa33, 397px 380px #fffafa33, 746px 300px #fffafa33,
    1953px 814px #fffafa33, 857px 551px #fffafa33, 1024px 142px #fffafa33,
    1377px 603px #fffafa33, 1858px 275px #fffafa33, 1330px 685px #fffafa33,
    442px 868px #fffafa33, 1287px 828px #fffafa33, 1796px 167px #fffafa33,
    1538px 233px #fffafa33, 804px 958px #fffafa33, 951px 794px #fffafa33,
    1575px 492px #fffafa33, 1392px 694px #fffafa33, 516px 568px #fffafa33,
    951px 738px #fffafa33, 1751px 949px #fffafa33, 1251px 686px #fffafa33,
    1953px 699px #fffafa33, 694px 556px #fffafa33, 397px 529px #fffafa33,
    1282px 862px #fffafa33, 22px 874px #fffafa33, 470px 32px #fffafa33,
    1134px 922px #fffafa33, 1171px 160px #fffafa33, 756px 491px #fffafa33,
    1236px 118px #fffafa33, 1449px 282px #fffafa33, 1140px 981px #fffafa33,
    1860px 369px #fffafa33, 91px 759px #fffafa33, 1981px 848px #fffafa33,
    1521px 67px #fffafa33, 1975px 141px #fffafa33, 1952px 6px #fffafa33,
    1491px 733px #fffafa33, 1156px 306px #fffafa33, 117px 153px #fffafa33,
    287px 946px #fffafa33, 1380px 523px #fffafa33, 1873px 213px #fffafa33,
    260px 303px #fffafa33, 382px 544px #fffafa33, 1445px 125px #fffafa33,
    175px 919px #fffafa33, 878px 265px #fffafa33, 521px 571px #fffafa33,
    1968px 253px #fffafa33, 1090px 37px #fffafa33, 1871px 842px #fffafa33,
    1114px 590px #fffafa33, 88px 141px #fffafa33, 1241px 887px #fffafa33,
    1387px 989px #fffafa33, 1958px 88px #fffafa33, 722px 515px #fffafa33,
    1731px 145px #fffafa33, 85px 557px #fffafa33, 1172px 458px #fffafa33,
    1273px 376px #fffafa33, 1355px 402px #fffafa33, 1807px 387px #fffafa33,
    1597px 60px #fffafa33, 123px 857px #fffafa33, 1934px 210px #fffafa33,
    557px 241px #fffafa33, 1773px 989px #fffafa33, 1940px 497px #fffafa33,
    1444px 861px #fffafa33, 469px 78px #fffafa33, 134px 617px #fffafa33,
    1838px 880px #fffafa33, 1562px 354px #fffafa33, 760px 293px #fffafa33,
    1067px 809px #fffafa33, 1473px 104px #fffafa33, 891px 296px #fffafa33,
    254px 61px #fffafa33, 131px 386px #fffafa33, 1661px 373px #fffafa33,
    943px 127px #fffafa33, 438px 663px #fffafa33, 1441px 85px #fffafa33,
    1097px 823px #fffafa33, 99px 945px #fffafa33, 42px 114px #fffafa33,
    672px 862px #fffafa33, 644px 303px #fffafa33, 657px 717px #fffafa33,
    801px 292px #fffafa33, 1112px 799px #fffafa33, 1492px 983px #fffafa33,
    293px 159px #fffafa33, 1338px 543px #fffafa33, 156px 602px #fffafa33,
    263px 740px #fffafa33, 947px 912px #fffafa33, 643px 701px #fffafa33,
    1298px 465px #fffafa33, 1120px 122px #fffafa33, 204px 554px #fffafa33,
    121px 387px #fffafa33, 573px 427px #fffafa33, 1416px 355px #fffafa33,
    79px 523px #fffafa33, 559px 38px #fffafa33, 1468px 393px #fffafa33,
    1787px 35px #fffafa33, 753px 861px #fffafa33, 406px 80px #fffafa33,
    1441px 270px #fffafa33, 1023px 628px #fffafa33, 506px 811px #fffafa33,
    547px 676px #fffafa33, 1216px 629px #fffafa33, 931px 47px #fffafa33,
    1540px 399px #fffafa33, 823px 449px #fffafa33, 1016px 744px #fffafa33,
    1439px 577px #fffafa33, 428px 918px #fffafa33, 1998px 439px #fffafa33,
    1761px 382px #fffafa33, 28px 929px #fffafa33, 428px 759px #fffafa33,
    1507px 670px #fffafa33, 1016px 987px #fffafa33, 718px 742px #fffafa33,
    439px 977px #fffafa33, 679px 361px #fffafa33, 245px 536px #fffafa33,
    505px 223px #fffafa33, 1829px 553px #fffafa33, 1010px 235px #fffafa33,
    1882px 990px #fffafa33, 541px 137px #fffafa33, 652px 421px #fffafa33,
    1562px 286px #fffafa33, 1425px 300px #fffafa33, 670px 197px #fffafa33,
    1420px 105px #fffafa33, 1725px 143px #fffafa33, 672px 154px #fffafa33,
    1007px 663px #fffafa33, 1521px 457px #fffafa33, 549px 54px #fffafa33,
    138px 168px #fffafa33, 300px 517px #fffafa33, 1498px 193px #fffafa33,
    1201px 880px #fffafa33, 1466px 146px #fffafa33, 898px 678px #fffafa33,
    1430px 315px #fffafa33, 376px 508px #fffafa33, 1216px 601px #fffafa33,
    734px 381px #fffafa33, 1233px 464px #fffafa33, 449px 802px #fffafa33,
    863px 399px #fffafa33, 301px 714px #fffafa33, 1690px 484px #fffafa33,
    1387px 347px #fffafa33, 1122px 728px #fffafa33, 143px 66px #fffafa33,
    976px 338px #fffafa33, 586px 909px #fffafa33, 884px 362px #fffafa33,
    1775px 396px #fffafa33, 305px 849px #fffafa33, 461px 194px #fffafa33,
    639px 782px #fffafa33, 1615px 441px #fffafa33, 189px 696px #fffafa33,
    1003px 424px #fffafa33, 857px 812px #fffafa33, 300px 690px #fffafa33,
    404px 102px #fffafa33, 374px 647px #fffafa33, 509px 104px #fffafa33,
    129px 971px #fffafa33, 1327px 626px #fffafa33, 1300px 454px #fffafa33,
    1174px 126px #fffafa33, 807px 166px #fffafa33, 1395px 749px #fffafa33,
    614px 722px #fffafa33, 370px 391px #fffafa33, 1471px 130px #fffafa33,
    721px 838px #fffafa33, 157px 840px #fffafa33, 1608px 723px #fffafa33,
    1950px 437px #fffafa33, 1505px 663px #fffafa33, 830px 175px #fffafa33,
    1562px 196px #fffafa33, 1028px 355px #fffafa33, 718px 536px #fffafa33,
    612px 352px #fffafa33, 586px 167px #fffafa33, 818px 962px #fffafa33,
    1121px 999px #fffafa33, 1521px 188px #fffafa33, 698px 431px #fffafa33,
    1699px 840px #fffafa33, 176px 35px #fffafa33, 1810px 494px #fffafa33,
    94px 973px #fffafa33, 727px 717px #fffafa33, 1464px 201px #fffafa33,
    374px 461px #fffafa33, 256px 721px #fffafa33, 1009px 728px #fffafa33,
    536px 614px #fffafa33, 666px 843px #fffafa33, 1382px 696px #fffafa33,
    1621px 849px #fffafa33, 512px 360px #fffafa33, 422px 798px #fffafa33,
    1092px 115px #fffafa33, 436px 278px #fffafa33, 968px 134px #fffafa33,
    437px 684px #fffafa33, 1308px 737px #fffafa33, 1000px 544px #fffafa33,
    440px 147px #fffafa33, 1717px 314px #fffafa33, 240px 731px #fffafa33,
    1114px 552px #fffafa33, 495px 44px #fffafa33, 902px 324px #fffafa33,
    340px 947px #fffafa33, 493px 113px #fffafa33, 1194px 799px #fffafa33,
    1508px 519px #fffafa33, 1593px 682px #fffafa33, 1084px 322px #fffafa33,
    1950px 732px #fffafa33, 1213px 407px #fffafa33, 1945px 316px #fffafa33,
    65px 243px #fffafa33, 1438px 15px #fffafa33, 1637px 599px #fffafa33,
    1612px 526px #fffafa33, 1663px 869px #fffafa33, 1161px 705px #fffafa33,
    817px 168px #fffafa33, 1072px 474px #fffafa33, 956px 410px #fffafa33,
    1022px 644px #fffafa33, 893px 550px #fffafa33, 1840px 569px #fffafa33,
    1353px 941px #fffafa33, 1253px 426px #fffafa33, 1987px 564px #fffafa33,
    1479px 221px #fffafa33, 373px 733px #fffafa33, 1399px 526px #fffafa33,
    979px 749px #fffafa33, 925px 966px #fffafa33, 1621px 112px #fffafa33,
    717px 116px #fffafa33, 221px 9px #fffafa33, 998px 314px #fffafa33,
    354px 540px #fffafa33, 337px 690px #fffafa33, 638px 278px #fffafa33,
    597px 225px #fffafa33, 182px 642px #fffafa33, 1939px 938px #fffafa33,
    161px 488px #fffafa33, 759px 537px #fffafa33, 276px 211px #fffafa33,
    1412px 505px #fffafa33, 1721px 726px #fffafa33, 1975px 114px #fffafa33,
    1674px 999px #fffafa33, 97px 515px #fffafa33, 258px 727px #fffafa33,
    956px 436px #fffafa33, 43px 776px #fffafa33, 54px 703px #fffafa33,
    626px 806px #fffafa33, 235px 292px #fffafa33, 463px 120px #fffafa33,
    993px 112px #fffafa33, 1281px 86px #fffafa33, 563px 794px #fffafa33,
    1459px 224px #fffafa33, 1358px 543px #fffafa33, 1495px 33px #fffafa33,
    1852px 427px #fffafa33, 210px 950px #fffafa33, 1719px 994px #fffafa33,
    953px 968px #fffafa33, 35px 84px #fffafa33, 902px 21px #fffafa33,
    1810px 23px #fffafa33, 641px 930px #fffafa33, 591px 311px #fffafa33,
    1231px 873px #fffafa33, 570px 157px #fffafa33, 268px 167px #fffafa33,
    1178px 235px #fffafa33, 537px 730px #fffafa33, 1076px 905px #fffafa33,
    740px 666px #fffafa33, 877px 924px #fffafa33, 251px 720px #fffafa33,
    658px 896px #fffafa33, 805px 593px #fffafa33, 1044px 922px #fffafa33,
    1222px 187px #fffafa33, 1751px 646px #fffafa33, 433px 521px #fffafa33,
    1505px 134px #fffafa33, 187px 66px #fffafa33, 1862px 935px #fffafa33,
    428px 716px #fffafa33, 862px 39px #fffafa33, 307px 503px #fffafa33,
    1288px 384px #fffafa33, 40px 522px #fffafa33, 531px 917px #fffafa33,
    1413px 913px #fffafa33, 1683px 669px #fffafa33, 1773px 253px #fffafa33,
    221px 506px #fffafa33, 591px 325px #fffafa33, 1178px 895px #fffafa33,
    1760px 322px #fffafa33, 895px 133px #fffafa33, 528px 741px #fffafa33,
    791px 162px #fffafa33, 759px 226px #fffafa33, 1781px 908px #fffafa33,
    1116px 438px #fffafa33, 1499px 867px #fffafa33, 1688px 105px #fffafa33,
    1246px 243px #fffafa33, 196px 697px #fffafa33, 1444px 235px #fffafa33,
    1741px 83px #fffafa33, 331px 405px #fffafa33, 1490px 309px #fffafa33,
    74px 429px #fffafa33, 820px 410px #fffafa33, 1478px 780px #fffafa33,
    59px 780px #fffafa33, 1554px 825px #fffafa33, 1164px 372px #fffafa33,
    447px 987px #fffafa33, 568px 401px #fffafa33, 297px 58px #fffafa33,
    726px 536px #fffafa33, 188px 924px #fffafa33, 945px 643px #fffafa33,
    1672px 354px #fffafa33, 1435px 557px #fffafa33, 474px 640px #fffafa33,
    369px 950px #fffafa33, 260px 705px #fffafa33, 1496px 102px #fffafa33,
    800px 20px #fffafa33, 230px 279px #fffafa33, 1321px 351px #fffafa33,
    782px 830px #fffafa33, 509px 958px #fffafa33, 626px 137px #fffafa33,
    1920px 32px #fffafa33, 417px 343px #fffafa33, 810px 221px #fffafa33,
    1611px 378px #fffafa33, 744px 515px #fffafa33, 693px 902px #fffafa33,
    1592px 658px #fffafa33, 743px 279px #fffafa33, 1772px 422px #fffafa33,
    1021px 457px #fffafa33, 383px 641px #fffafa33, 333px 227px #fffafa33,
    46px 769px #fffafa33, 696px 769px #fffafa33, 1607px 475px #fffafa33,
    437px 631px #fffafa33, 1290px 887px #fffafa33, 1213px 441px #fffafa33,
    1540px 809px #fffafa33, 1810px 324px #fffafa33, 1364px 993px #fffafa33,
    1181px 863px #fffafa33, 1022px 189px #fffafa33, 875px 227px #fffafa33,
    1672px 328px #fffafa33, 1824px 335px #fffafa33, 1545px 919px #fffafa33,
    834px 793px #fffafa33, 251px 512px #fffafa33, 742px 116px #fffafa33,
    1629px 190px #fffafa33, 938px 652px #fffafa33, 1508px 394px #fffafa33,
    1240px 607px #fffafa33, 74px 125px #fffafa33, 1428px 576px #fffafa33,
    974px 269px #fffafa33, 1323px 795px #fffafa33, 73px 511px #fffafa33,
    1787px 427px #fffafa33, 1752px 144px #fffafa33, 1938px 213px #fffafa33,
    1272px 965px #fffafa33, 925px 909px #fffafa33, 938px 103px #fffafa33,
    1277px 745px #fffafa33, 729px 891px #fffafa33, 178px 363px #fffafa33,
    1395px 56px #fffafa33, 621px 922px #fffafa33, 1838px 947px #fffafa33,
    860px 564px #fffafa33, 1868px 648px #fffafa33, 1175px 130px #fffafa33,
    1418px 897px #fffafa33, 1752px 219px #fffafa33, 1116px 155px #fffafa33,
    1168px 141px #fffafa33, 964px 482px #fffafa33, 1014px 500px #fffafa33,
    1423px 363px #fffafa33, 684px 911px #fffafa33, 1089px 7px #fffafa33,
    714px 152px #fffafa33, 1322px 256px #fffafa33, 1240px 457px #fffafa33,
    1454px 756px #fffafa33, 922px 569px #fffafa33, 1624px 829px #fffafa33,
    1575px 494px #fffafa33, 50px 361px #fffafa33, 1047px 361px #fffafa33,
    663px 32px #fffafa33, 767px 882px #fffafa33, 917px 713px #fffafa33,
    1097px 662px #fffafa33, 79px 80px #fffafa33, 583px 356px #fffafa33,
    671px 589px #fffafa33, 1380px 810px #fffafa33, 897px 710px #fffafa33,
    1158px 913px #fffafa33, 909px 390px #fffafa33, 1904px 645px #fffafa33,
    510px 415px #fffafa33, 1484px 803px #fffafa33, 1793px 448px #fffafa33,
    782px 274px #fffafa33, 1965px 128px #fffafa33;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 572px 687px #fffafa33, 1028px 466px #fffafa33,
    1264px 358px #fffafa33, 891px 325px #fffafa33, 1064px 645px #fffafa33,
    857px 422px #fffafa33, 1408px 197px #fffafa33, 318px 665px #fffafa33,
    618px 83px #fffafa33, 1695px 133px #fffafa33, 1452px 544px #fffafa33,
    510px 835px #fffafa33, 648px 627px #fffafa33, 1497px 93px #fffafa33,
    625px 254px #fffafa33, 1696px 450px #fffafa33, 1949px 593px #fffafa33,
    1833px 177px #fffafa33, 300px 147px #fffafa33, 908px 68px #fffafa33,
    666px 726px #fffafa33, 1879px 281px #fffafa33, 1971px 186px #fffafa33,
    646px 271px #fffafa33, 440px 586px #fffafa33, 650px 832px #fffafa33,
    891px 933px #fffafa33, 889px 127px #fffafa33, 1386px 546px #fffafa33,
    813px 291px #fffafa33, 1201px 147px #fffafa33, 441px 625px #fffafa33,
    1531px 264px #fffafa33, 555px 764px #fffafa33, 1235px 651px #fffafa33,
    244px 753px #fffafa33, 1024px 695px #fffafa33, 531px 906px #fffafa33,
    532px 739px #fffafa33, 65px 492px #fffafa33, 1365px 986px #fffafa33,
    1114px 366px #fffafa33, 140px 367px #fffafa33, 757px 651px #fffafa33,
    989px 411px #fffafa33, 1210px 600px #fffafa33, 588px 550px #fffafa33,
    1574px 91px #fffafa33, 1820px 760px #fffafa33, 909px 332px #fffafa33,
    240px 308px #fffafa33, 902px 811px #fffafa33, 773px 659px #fffafa33,
    1250px 91px #fffafa33, 721px 936px #fffafa33, 541px 729px #fffafa33,
    1121px 428px #fffafa33, 849px 886px #fffafa33, 1351px 265px #fffafa33,
    933px 521px #fffafa33, 1071px 373px #fffafa33, 525px 966px #fffafa33,
    1822px 764px #fffafa33, 1427px 179px #fffafa33, 1534px 914px #fffafa33,
    1281px 176px #fffafa33, 1514px 579px #fffafa33, 491px 283px #fffafa33,
    430px 585px #fffafa33, 991px 940px #fffafa33, 300px 272px #fffafa33,
    809px 800px #fffafa33, 212px 933px #fffafa33, 424px 345px #fffafa33,
    364px 214px #fffafa33, 559px 352px #fffafa33, 943px 980px #fffafa33,
    838px 1000px #fffafa33, 385px 564px #fffafa33, 931px 271px #fffafa33,
    389px 355px #fffafa33, 468px 365px #fffafa33, 1377px 320px #fffafa33,
    455px 120px #fffafa33, 1066px 379px #fffafa33, 1248px 731px #fffafa33,
    928px 102px #fffafa33, 937px 32px #fffafa33, 1562px 254px #fffafa33,
    966px 240px #fffafa33, 1414px 412px #fffafa33, 297px 937px #fffafa33,
    1905px 190px #fffafa33, 679px 472px #fffafa33, 279px 532px #fffafa33,
    1140px 888px #fffafa33, 1063px 993px #fffafa33, 1782px 604px #fffafa33,
    135px 693px #fffafa33, 1799px 245px #fffafa33, 148px 440px #fffafa33,
    1046px 41px #fffafa33, 1390px 5px #fffafa33, 75px 974px #fffafa33,
    1479px 442px #fffafa33, 351px 964px #fffafa33, 177px 676px #fffafa33,
    353px 230px #fffafa33, 479px 103px #fffafa33, 1164px 441px #fffafa33,
    748px 842px #fffafa33, 1327px 485px #fffafa33, 103px 176px #fffafa33,
    1687px 422px #fffafa33, 1708px 872px #fffafa33, 1696px 104px #fffafa33,
    1457px 291px #fffafa33, 573px 550px #fffafa33, 294px 563px #fffafa33,
    1806px 306px #fffafa33, 1255px 837px #fffafa33, 1818px 365px #fffafa33,
    1333px 222px #fffafa33, 1178px 242px #fffafa33, 1536px 325px #fffafa33,
    817px 610px #fffafa33, 478px 642px #fffafa33, 703px 970px #fffafa33,
    245px 212px #fffafa33, 1773px 806px #fffafa33, 561px 770px #fffafa33,
    1029px 444px #fffafa33, 199px 22px #fffafa33, 1992px 38px #fffafa33,
    1943px 938px #fffafa33, 1245px 674px #fffafa33, 1838px 690px #fffafa33,
    1352px 9px #fffafa33, 1281px 367px #fffafa33, 676px 253px #fffafa33,
    776px 354px #fffafa33, 929px 603px #fffafa33, 364px 271px #fffafa33,
    1793px 324px #fffafa33, 340px 684px #fffafa33, 395px 480px #fffafa33,
    71px 244px #fffafa33, 1745px 765px #fffafa33, 386px 663px #fffafa33,
    704px 648px #fffafa33, 1687px 942px #fffafa33, 1647px 107px #fffafa33,
    1382px 443px #fffafa33, 1106px 37px #fffafa33, 1111px 680px #fffafa33,
    837px 412px #fffafa33, 656px 693px #fffafa33, 751px 16px #fffafa33,
    1780px 350px #fffafa33, 691px 308px #fffafa33, 227px 226px #fffafa33,
    1314px 310px #fffafa33, 1057px 553px #fffafa33, 1176px 740px #fffafa33,
    991px 90px #fffafa33, 1162px 340px #fffafa33, 497px 136px #fffafa33,
    1588px 491px #fffafa33, 1045px 153px #fffafa33, 1329px 735px #fffafa33,
    395px 945px #fffafa33, 320px 696px #fffafa33, 1505px 522px #fffafa33,
    34px 555px #fffafa33, 302px 311px #fffafa33, 1275px 453px #fffafa33,
    1460px 989px #fffafa33, 1164px 848px #fffafa33, 1169px 495px #fffafa33,
    1869px 601px #fffafa33, 828px 526px #fffafa33, 1845px 351px #fffafa33,
    1177px 347px #fffafa33, 382px 408px #fffafa33, 157px 553px #fffafa33,
    382px 585px #fffafa33, 765px 124px #fffafa33, 833px 496px #fffafa33,
    1892px 179px #fffafa33, 858px 698px #fffafa33, 277px 914px #fffafa33,
    500px 55px #fffafa33, 540px 297px #fffafa33, 1696px 111px #fffafa33,
    1194px 456px #fffafa33, 478px 595px #fffafa33, 220px 157px #fffafa33,
    137px 969px #fffafa33, 518px 934px #fffafa33, 624px 636px #fffafa33;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 572px 687px #fffafa33, 1028px 466px #fffafa33,
    1264px 358px #fffafa33, 891px 325px #fffafa33, 1064px 645px #fffafa33,
    857px 422px #fffafa33, 1408px 197px #fffafa33, 318px 665px #fffafa33,
    618px 83px #fffafa33, 1695px 133px #fffafa33, 1452px 544px #fffafa33,
    510px 835px #fffafa33, 648px 627px #fffafa33, 1497px 93px #fffafa33,
    625px 254px #fffafa33, 1696px 450px #fffafa33, 1949px 593px #fffafa33,
    1833px 177px #fffafa33, 300px 147px #fffafa33, 908px 68px #fffafa33,
    666px 726px #fffafa33, 1879px 281px #fffafa33, 1971px 186px #fffafa33,
    646px 271px #fffafa33, 440px 586px #fffafa33, 650px 832px #fffafa33,
    891px 933px #fffafa33, 889px 127px #fffafa33, 1386px 546px #fffafa33,
    813px 291px #fffafa33, 1201px 147px #fffafa33, 441px 625px #fffafa33,
    1531px 264px #fffafa33, 555px 764px #fffafa33, 1235px 651px #fffafa33,
    244px 753px #fffafa33, 1024px 695px #fffafa33, 531px 906px #fffafa33,
    532px 739px #fffafa33, 65px 492px #fffafa33, 1365px 986px #fffafa33,
    1114px 366px #fffafa33, 140px 367px #fffafa33, 757px 651px #fffafa33,
    989px 411px #fffafa33, 1210px 600px #fffafa33, 588px 550px #fffafa33,
    1574px 91px #fffafa33, 1820px 760px #fffafa33, 909px 332px #fffafa33,
    240px 308px #fffafa33, 902px 811px #fffafa33, 773px 659px #fffafa33,
    1250px 91px #fffafa33, 721px 936px #fffafa33, 541px 729px #fffafa33,
    1121px 428px #fffafa33, 849px 886px #fffafa33, 1351px 265px #fffafa33,
    933px 521px #fffafa33, 1071px 373px #fffafa33, 525px 966px #fffafa33,
    1822px 764px #fffafa33, 1427px 179px #fffafa33, 1534px 914px #fffafa33,
    1281px 176px #fffafa33, 1514px 579px #fffafa33, 491px 283px #fffafa33,
    430px 585px #fffafa33, 991px 940px #fffafa33, 300px 272px #fffafa33,
    809px 800px #fffafa33, 212px 933px #fffafa33, 424px 345px #fffafa33,
    364px 214px #fffafa33, 559px 352px #fffafa33, 943px 980px #fffafa33,
    838px 1000px #fffafa33, 385px 564px #fffafa33, 931px 271px #fffafa33,
    389px 355px #fffafa33, 468px 365px #fffafa33, 1377px 320px #fffafa33,
    455px 120px #fffafa33, 1066px 379px #fffafa33, 1248px 731px #fffafa33,
    928px 102px #fffafa33, 937px 32px #fffafa33, 1562px 254px #fffafa33,
    966px 240px #fffafa33, 1414px 412px #fffafa33, 297px 937px #fffafa33,
    1905px 190px #fffafa33, 679px 472px #fffafa33, 279px 532px #fffafa33,
    1140px 888px #fffafa33, 1063px 993px #fffafa33, 1782px 604px #fffafa33,
    135px 693px #fffafa33, 1799px 245px #fffafa33, 148px 440px #fffafa33,
    1046px 41px #fffafa33, 1390px 5px #fffafa33, 75px 974px #fffafa33,
    1479px 442px #fffafa33, 351px 964px #fffafa33, 177px 676px #fffafa33,
    353px 230px #fffafa33, 479px 103px #fffafa33, 1164px 441px #fffafa33,
    748px 842px #fffafa33, 1327px 485px #fffafa33, 103px 176px #fffafa33,
    1687px 422px #fffafa33, 1708px 872px #fffafa33, 1696px 104px #fffafa33,
    1457px 291px #fffafa33, 573px 550px #fffafa33, 294px 563px #fffafa33,
    1806px 306px #fffafa33, 1255px 837px #fffafa33, 1818px 365px #fffafa33,
    1333px 222px #fffafa33, 1178px 242px #fffafa33, 1536px 325px #fffafa33,
    817px 610px #fffafa33, 478px 642px #fffafa33, 703px 970px #fffafa33,
    245px 212px #fffafa33, 1773px 806px #fffafa33, 561px 770px #fffafa33,
    1029px 444px #fffafa33, 199px 22px #fffafa33, 1992px 38px #fffafa33,
    1943px 938px #fffafa33, 1245px 674px #fffafa33, 1838px 690px #fffafa33,
    1352px 9px #fffafa33, 1281px 367px #fffafa33, 676px 253px #fffafa33,
    776px 354px #fffafa33, 929px 603px #fffafa33, 364px 271px #fffafa33,
    1793px 324px #fffafa33, 340px 684px #fffafa33, 395px 480px #fffafa33,
    71px 244px #fffafa33, 1745px 765px #fffafa33, 386px 663px #fffafa33,
    704px 648px #fffafa33, 1687px 942px #fffafa33, 1647px 107px #fffafa33,
    1382px 443px #fffafa33, 1106px 37px #fffafa33, 1111px 680px #fffafa33,
    837px 412px #fffafa33, 656px 693px #fffafa33, 751px 16px #fffafa33,
    1780px 350px #fffafa33, 691px 308px #fffafa33, 227px 226px #fffafa33,
    1314px 310px #fffafa33, 1057px 553px #fffafa33, 1176px 740px #fffafa33,
    991px 90px #fffafa33, 1162px 340px #fffafa33, 497px 136px #fffafa33,
    1588px 491px #fffafa33, 1045px 153px #fffafa33, 1329px 735px #fffafa33,
    395px 945px #fffafa33, 320px 696px #fffafa33, 1505px 522px #fffafa33,
    34px 555px #fffafa33, 302px 311px #fffafa33, 1275px 453px #fffafa33,
    1460px 989px #fffafa33, 1164px 848px #fffafa33, 1169px 495px #fffafa33,
    1869px 601px #fffafa33, 828px 526px #fffafa33, 1845px 351px #fffafa33,
    1177px 347px #fffafa33, 382px 408px #fffafa33, 157px 553px #fffafa33,
    382px 585px #fffafa33, 765px 124px #fffafa33, 833px 496px #fffafa33,
    1892px 179px #fffafa33, 858px 698px #fffafa33, 277px 914px #fffafa33,
    500px 55px #fffafa33, 540px 297px #fffafa33, 1696px 111px #fffafa33,
    1194px 456px #fffafa33, 478px 595px #fffafa33, 220px 157px #fffafa33,
    137px 969px #fffafa33, 518px 934px #fffafa33, 624px 636px #fffafa33;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 364px 785px #fffafa33, 772px 254px #fffafa33,
    1821px 801px #fffafa33, 1669px 214px #fffafa33, 764px 152px #fffafa33,
    1716px 959px #fffafa33, 576px 397px #fffafa33, 1775px 121px #fffafa33,
    1284px 415px #fffafa33, 1630px 149px #fffafa33, 1278px 333px #fffafa33,
    531px 850px #fffafa33, 1382px 655px #fffafa33, 1309px 786px #fffafa33,
    221px 376px #fffafa33, 105px 786px #fffafa33, 1391px 67px #fffafa33,
    1373px 150px #fffafa33, 700px 624px #fffafa33, 11px 823px #fffafa33,
    294px 264px #fffafa33, 1185px 722px #fffafa33, 825px 602px #fffafa33,
    1787px 186px #fffafa33, 1973px 689px #fffafa33, 1954px 547px #fffafa33,
    257px 158px #fffafa33, 769px 30px #fffafa33, 1590px 229px #fffafa33,
    1159px 108px #fffafa33, 765px 244px #fffafa33, 1893px 700px #fffafa33,
    984px 448px #fffafa33, 869px 6px #fffafa33, 721px 202px #fffafa33,
    181px 841px #fffafa33, 132px 562px #fffafa33, 1190px 979px #fffafa33,
    1394px 748px #fffafa33, 441px 289px #fffafa33, 661px 297px #fffafa33,
    562px 987px #fffafa33, 1454px 760px #fffafa33, 403px 739px #fffafa33,
    797px 99px #fffafa33, 1946px 221px #fffafa33, 1453px 183px #fffafa33,
    328px 624px #fffafa33, 1394px 269px #fffafa33, 1642px 623px #fffafa33,
    459px 271px #fffafa33, 1276px 850px #fffafa33, 799px 925px #fffafa33,
    481px 516px #fffafa33, 1630px 767px #fffafa33, 945px 811px #fffafa33,
    860px 963px #fffafa33, 1352px 339px #fffafa33, 842px 214px #fffafa33,
    1565px 772px #fffafa33, 997px 901px #fffafa33, 886px 253px #fffafa33,
    474px 348px #fffafa33, 1320px 337px #fffafa33, 1686px 503px #fffafa33,
    1553px 218px #fffafa33, 1369px 787px #fffafa33, 1860px 204px #fffafa33,
    538px 320px #fffafa33, 313px 237px #fffafa33, 958px 802px #fffafa33,
    811px 420px #fffafa33, 1166px 308px #fffafa33, 1814px 630px #fffafa33,
    354px 399px #fffafa33, 180px 192px #fffafa33, 313px 265px #fffafa33,
    1581px 925px #fffafa33, 278px 865px #fffafa33, 1452px 522px #fffafa33,
    1436px 569px #fffafa33, 1437px 970px #fffafa33, 856px 818px #fffafa33,
    806px 834px #fffafa33, 883px 918px #fffafa33, 1482px 221px #fffafa33,
    578px 635px #fffafa33, 1298px 69px #fffafa33, 1829px 290px #fffafa33,
    1319px 956px #fffafa33, 1192px 594px #fffafa33, 772px 847px #fffafa33,
    1066px 529px #fffafa33, 1619px 682px #fffafa33, 333px 37px #fffafa33,
    640px 736px #fffafa33, 167px 587px #fffafa33, 134px 903px #fffafa33,
    5px 568px #fffafa33, 1079px 362px #fffafa33;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 364px 785px #fffafa33, 772px 254px #fffafa33,
    1821px 801px #fffafa33, 1669px 214px #fffafa33, 764px 152px #fffafa33,
    1716px 959px #fffafa33, 576px 397px #fffafa33, 1775px 121px #fffafa33,
    1284px 415px #fffafa33, 1630px 149px #fffafa33, 1278px 333px #fffafa33,
    531px 850px #fffafa33, 1382px 655px #fffafa33, 1309px 786px #fffafa33,
    221px 376px #fffafa33, 105px 786px #fffafa33, 1391px 67px #fffafa33,
    1373px 150px #fffafa33, 700px 624px #fffafa33, 11px 823px #fffafa33,
    294px 264px #fffafa33, 1185px 722px #fffafa33, 825px 602px #fffafa33,
    1787px 186px #fffafa33, 1973px 689px #fffafa33, 1954px 547px #fffafa33,
    257px 158px #fffafa33, 769px 30px #fffafa33, 1590px 229px #fffafa33,
    1159px 108px #fffafa33, 765px 244px #fffafa33, 1893px 700px #fffafa33,
    984px 448px #fffafa33, 869px 6px #fffafa33, 721px 202px #fffafa33,
    181px 841px #fffafa33, 132px 562px #fffafa33, 1190px 979px #fffafa33,
    1394px 748px #fffafa33, 441px 289px #fffafa33, 661px 297px #fffafa33,
    562px 987px #fffafa33, 1454px 760px #fffafa33, 403px 739px #fffafa33,
    797px 99px #fffafa33, 1946px 221px #fffafa33, 1453px 183px #fffafa33,
    328px 624px #fffafa33, 1394px 269px #fffafa33, 1642px 623px #fffafa33,
    459px 271px #fffafa33, 1276px 850px #fffafa33, 799px 925px #fffafa33,
    481px 516px #fffafa33, 1630px 767px #fffafa33, 945px 811px #fffafa33,
    860px 963px #fffafa33, 1352px 339px #fffafa33, 842px 214px #fffafa33,
    1565px 772px #fffafa33, 997px 901px #fffafa33, 886px 253px #fffafa33,
    474px 348px #fffafa33, 1320px 337px #fffafa33, 1686px 503px #fffafa33,
    1553px 218px #fffafa33, 1369px 787px #fffafa33, 1860px 204px #fffafa33,
    538px 320px #fffafa33, 313px 237px #fffafa33, 958px 802px #fffafa33,
    811px 420px #fffafa33, 1166px 308px #fffafa33, 1814px 630px #fffafa33,
    354px 399px #fffafa33, 180px 192px #fffafa33, 313px 265px #fffafa33,
    1581px 925px #fffafa33, 278px 865px #fffafa33, 1452px 522px #fffafa33,
    1436px 569px #fffafa33, 1437px 970px #fffafa33, 856px 818px #fffafa33,
    806px 834px #fffafa33, 883px 918px #fffafa33, 1482px 221px #fffafa33,
    578px 635px #fffafa33, 1298px 69px #fffafa33, 1829px 290px #fffafa33,
    1319px 956px #fffafa33, 1192px 594px #fffafa33, 772px 847px #fffafa33,
    1066px 529px #fffafa33, 1619px 682px #fffafa33, 333px 37px #fffafa33,
    640px 736px #fffafa33, 167px 587px #fffafa33, 134px 903px #fffafa33,
    5px 568px #fffafa33, 1079px 362px #fffafa33;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
