@mixin flex($direction, $isCenter, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;

  @if $isCenter {
    align-items: center;
    justify-content: center;
  }
}

body {
  height: 100%;
  background: none;
  background-color: var(--dark-color);

  @media screen and (min-width: 1000px) {
    height: 100vh;
  }
}

.container {
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-columns: 100%;
  place-items: center;
  gap: 5rem;
  height: 100%;
  padding: 2rem 1rem;

  @media screen and (min-width: 1000px) {
    overflow: hidden;
  }

  @media screen and (min-width: 300px) {
    grid-template-rows: 35% 1fr;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 50% 1fr;
    grid-template-rows: unset;
  }

  .sliders {
    align-self: flex-start;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: auto;

    @media screen and (min-width: 1000px) {
      width: Min(100%, 70rem);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: unset;
      margin: auto;
    }

    .slider__wrapper {
      width: 200%;
      height: 100%;
      display: grid;
      gap: Min(0.5%, 1rem);
      overflow: clip;

      @media screen and (min-width: 1000px) {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      &:nth-child(1) {
        animation: scroll 15s linear infinite;

        @media screen and (min-width: 1000px) {
          animation: scroll-up 35s linear infinite;
        }
      }

      &:nth-child(2) {
        animation: scroll-rev 15s linear infinite;

        @media screen and (min-width: 1000px) {
          animation: scroll-up-rev 35s linear infinite;
        }
      }

      &:nth-child(3) {
        animation: scroll 12s linear infinite;

        @media screen and (min-width: 1000px) {
          animation: scroll-up 32s linear infinite;
        }
      }

      &:hover {
        animation-play-state: paused;
      }

      img {
        grid-row: 1;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;

        @media screen and (min-width: 1000px) {
          width: 100%;
          height: 100%;
          grid-column: 1;
          grid-row: unset;
        }
      }

      @keyframes scroll {
        0%,
        100% {
          transform: translate3d(0, 0, 0);
        }
        50% {
          transform: translate3d(-50%, 0, 0);
        }
      }

      @keyframes scroll-rev {
        0%,
        100% {
          transform: translate3d(-50%, 0, 0);
        }
        50% {
          transform: translate3d(0, 0, 0);
        }
      }

      @keyframes scroll-up {
        0%,
        100% {
          transform: translate3d(0, 0, 0);
        }
        50% {
          transform: translate3d(0, -50%, 0);
        }
      }

      @keyframes scroll-up-rev {
        0%,
        100% {
          transform: translate3d(0, -50%, 0);
        }
        50% {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .login__wrapper {
    @include flex(column, false, 3rem);
    align-items: center;
    width: Min(90%, 90rem);
    height: 100%;
    padding: 3rem 0;
    color: var(--light-color);

    @media screen and (min-width: 1000px) {
      margin: unset;
      justify-content: center;
    }

    .login__form {
      @include flex(column, false, 3rem);
      width: 100%;

      .login__intro {
        @include flex(row, true, 0);

        .back__btn {
          margin-right: auto;
          color: var(--light-color);
          transition: all 0.3s ease-in-out;

          &:hover {
            color: rgba(255, 255, 255, 0.685);
          }
        }

        .form__title {
          margin-right: auto;
          align-self: center;
        }
      }

      .form__fieldset {
        @include flex(column, false, 1rem);
        border: none;
      }

      .form__input {
        width: 100%;
        padding: 1.5rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        box-shadow: 0 0.2rem 0 -0.1rem #ffffff4d;
      }

      .form__submit {
        padding: 1.5rem 0;
        border: none;
        border-radius: 0.6rem;
        background-color: var(--primary-color);
        color: var(--light-color);
        font-size: 100%;
        font-weight: 700;
        letter-spacing: 0.15rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: brightness(1.4);
        }
      }
    }

    .login__redirect {
      a {
        color: #4c40d8;
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: brightness(1.4);
        }
      }
    }

    .login__seperator {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: #ffffffb7;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: calc(50% - 2rem);
        height: 0.1rem;
        background-color: #ffffff23;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: calc(50% - 2rem);
        height: 0.1rem;
        background-color: #ffffff23;
      }
    }

    .login__socials {
      @include flex(row, true, 2rem);
      width: 100%;

      .login__social {
        @include flex(row, true, 0);
        width: 4rem;
        height: 4rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        $colors: #2a2f45, #5caae7, #d64f3d, #414142;

        @for $i from 1 through length($colors) {
          &:nth-of-type(#{$i}) {
            background-color: nth($colors, $i);
          }
        }

        &:hover {
          border-radius: 50%;
          filter: brightness(1.2);
        }

        .social__link {
          color: var(--light-color);
          font-size: 120%;
        }
      }
    }
  }
}
